[2016-03-24 18:19] d4mation opened #1 "Home Page Template"

[2016-03-24 18:28] d4mation opened #2 "Shippers Landing Page"
Include Services [category:shipper] Archive Loop
- [ ] Elevator Pitch
- [ ] List of benefits to Shippers
- [ ] List of services and service features
- [ ] Why we’re different
- [ ] Case studies (mega-expanded testimonial)
- [ ] Mini-CTAs throughout this long page
- [ ] Meet your Rep section (maybe a carousel of photos with name underneath)
- [ ] BIG “Get Started” CTA  at bottom

[2016-03-24 18:45] d4mation opened #3 "Employment Landing Page"
Include Employment Loop [category:all] Loop and area for video
- [x] Employee testimonials
- [x] List of current Job openings (Employment Single feed here.  If no jobs, the section is hidden)

[2016-03-24 18:49] d4mation opened #4 "Employment Single Template"
General for now. Job Description. Use Contact Us form for now.

Contains:
- Job Title
- Job Description
- Not sure what other fields are required for MVP.
- Salary range
- Experience required
- Travel requirements

[2016-03-24 18:51] d4mation opened #5 "Connect Page"
Postal addresses, phone, fax, email, toll-free, social links, maps/directions

[2016-03-24 18:52] d4mation opened #6 "Login Screen"

[2016-03-24 18:54] d4mation opened #7 "About Us Page"
(Covenant, Etc.)

[2016-03-24 18:57] d4mation opened #8 "Search and Search Results"

[2016-03-24 19:01] d4mation opened #9 "Services Archive Page"

[2016-03-24 19:03] d4mation opened #10 "404 Template"
Within brand.

- Link to home
- Link to various Services
- Link to Carrier Page
- Link to Shippers Page
- Link to Employment Page

[2016-03-24 19:04] d4mation opened #11 "Staff Archive Page"
Separate presentation of Executive Team vs. Lead reps vs. remainder of staff.

[2016-03-24 19:05] d4mation opened #12 "Staff Single Template"
- Photo
- Full name (plus nickname … which humanizes each person)
- Brief professional bio
- Contact links (email, social links, etc.) (recommend to ALS that all employees should have LinkedIn accounts)
- Brief personal bio (again, the neighbor begs to be seen as approachable)
  - We could even have fun with this one; Every now and again, we add a new ‘tid bit’;  Favorite quote, favorite food, fav

[2016-03-24 19:06] d4mation opened #13 "Other “non-page” content"
- [ ] Concepts for CTAs that can go ‘inline’ with page content (e.g. “Call us Today to Get Started” … or “Sign up for our Newsletter”)
- [ ] Rotating Testimonials
- [ ] Rotating Industry Tips
- [ ] Rotating “Featured Client”
- [ ] Rotating “Featured Service Rep”

[2016-03-28 16:48] brashrebel opened #14 "Logo for ALS github organization"
Help me Obi Wan Kenobi

[2016-03-28 16:49] #14 closed, assigned to skarritt

[2016-03-28 17:01] skarritt commented on #14
File sent via email

[2016-03-28 19:16] d4mation commented on #1
Font Awesome Icons in 5050560 are placeholders for now.

[2016-03-29 17:50] d4mation opened #15 "Base Images for Main Image and Footer Hero"
I'm setting the site up so that the text and button are HTML elements rather than being embedded into the image for accessibility reasons (screen-readers, more responsive for mobile, etc.). Right now it is overlapping and doesn't look so great.

![image](https://cloud.githubusercontent.com/assets/7770631/14117792/3fd2c8de-f5b4-11e5-9ff7-c576586c0291.png)

Also, the ZIP you sent Kyle didn't include

[2016-03-29 19:58] skarritt commented on #15
Hi,  The main hero image will be sent to you "sans text and sans button" in just a bit.  Please hold off on the footer row (currently called "The Perfect Order").  It's going to be replaced by FOUR new rows, specifically for: Carriers, Shippers, Careers, The Covenant.  As soon as I get an approval on their design, I'll send them to you for integration into the home page.  Until then, proceed witho

[2016-03-29 20:01] skarritt commented on #15
Here you go.
Kevin

Kevin Skarritt
Chief Peep, Flock Marketing
PO Box 126, Grand Ledge, MI 48837
517-925-8045
@skarritt
facebook.com/flockmarketing
linkedin.com/in/skarritt

=-=-=-=-=-=-=-=-=-=

This message has been brought to you by the numbers 1 and 0!

On 3/29/16 1:50 PM, Eric Defore wrote:

[2016-03-29 20:03] d4mation commented on #15
Sadly, attaching files to GitHub via reply-email doesn't work. :/

You can send them to me via my work email eric@realbigmarketing.com if that works for you. Otherwise, I'm pretty sure you can upload files to the Issue if you are on GitHub via a web browser.

[2016-03-29 23:11] d4mation commented on #3
Still need to figure out how to add the extra buttons on the side without ruining Accordion functionality.

![image](https://cloud.githubusercontent.com/assets/7770631/14126895/15c1bbc6-f5e2-11e5-961a-3044c9b229c5.png)

[2016-03-30 12:17] skarritt commented on #3
Does this need to be done differently?  I'd be TOTALLY ok with deleting the "Details" button (because the majority of the details are in the accordion window) and we can move the "Apply Now" into the accordion below the job details.  Run this by and @brashrebel and loop me back in if needs more input.

[2016-03-30 12:20] skarritt commented on #15
Sorry about that.  Here it is ... again.
![home-main-image-1bkg](https://cloud.githubusercontent.com/assets/13339771/14141914/388916ea-f650-11e5-9a84-874bae1205cd.jpg)

[2016-03-30 12:23] d4mation commented on #15
Thanks! Looks great in my local environment now.

Let me know when you've got approval on those new sections!

[2016-03-30 12:23] #15 closed, assigned to skarritt

[2016-03-30 12:25] skarritt commented on #15
Will do.

[2016-03-30 12:28] d4mation commented on #3
What do you think, @brashrebel?

[2016-03-30 13:34] BigActual commented on #3
That's fine by me @d4mation.

[2016-03-30 13:35] BigActual commented on #12
I'll go to the client with this request today. Please use placeholders in the meantime.

[2016-03-30 14:19] brashrebel commented on #3
Sure, sounds good.

[2016-03-30 14:52] BigActual commented on #11
I'm requesting bios of Sales team and owner. We'll see if they want anything else. There should be an editable intro paragraph.

[2016-03-30 14:56] BigActual commented on #4
This is on hold. It was an assumption on my part which Kyle clarified would come later. Also, Employment Opportunities are being addressed in #3. Recommend close.

[2016-03-30 14:59] d4mation commented on #4
That's what I was thinking too. Especially since, at least based on the what I could see in the screenshot of the mock-up, all the information fits pretty easily.

Here it is on my local install:
![image](https://cloud.githubusercontent.com/assets/7770631/14146680/83ca4eb0-f666-11e5-996f-7b8b68b8e917.png)

I'll go ahead and close this for now.

[2016-03-30 14:59] #4 closed, assigned to d4mation

[2016-03-30 17:15] #3 closed, assigned to d4mation

[2016-03-30 17:42] d4mation commented on #7
The above information was what I grabbed from the Google Doc.

The email I received with Page Layout Screenshots shows different information on the About Us page. It's set up so any content can happily live in there (via the built-in Content Editor), so I based it off the Screenshot.

![image](https://cloud.githubusercontent.com/assets/7770631/14151641/dca6da24-f67c-11e5-8951-6b5d6ae10771.png)

I

[2016-03-30 19:10] d4mation commented on #9
I opted to make it just a Page for now. It utilizes a Repeater in the Page Template to output the information.

I thought about it some, and a CPT with an Archive for this would be a bit strange, since there are likely a set number of Services and therefore having enough to ever need pagination or other Archive features wouldn't be likely. The Services themselves can be given Child Pages of the Se

[2016-03-31 11:31] brashrebel commented on #9
Fine for now.

[2016-03-31 12:32] d4mation commented on #9
I'll go ahead and close this Issue then. If we go the CPT route, I'll track it in another Issue.

[2016-03-31 18:51] BigActual commented on #1
@d4mation- Do you need these icons?

[2016-03-31 18:54] d4mation commented on #1
I have the icons as Rasters (`.JPEG` or `.PNG`, I cannot remember which).

It would be preferable to have them as `.SVG` or `.EPS`, because then I can convert them into an Icon Font like FontAwesome or IcoMoon. Otherwise I'll probably include the files in the Theme Directory and serve them up statically that way. I'd rather not make an Image Upload box for them as that may lead to some strangely s

[2016-04-01 14:30] d4mation commented on #2
@BigActual

I know the plan is to write up a lot of it later and place it in, but I want to ensure that I’ve got places for them to do that.

It seems like they are going to want a lot of more complicated sections on this page that wouldn’t be easy to implement through the standard Editor. At the same time, I’m not sure what to anticipate to code something out for them.

Could get some samples/exa

[2016-04-01 14:31] d4mation commented on #8
@BigActual @skarritt

In the mockups of the design, there isn't a Search Bar/Button anywhere that I can see.

Is there a preference to how this should be implemented? I'm trying to think of ways to ensure that it works well on Desktop and Mobile without any weird hiccups.

[2016-04-01 15:14] d4mation commented on #9
Actually, looking at #2 again, there may be a need for a CPT.

Maybe not to output on this page, but at least to hold more specific data on individual Services.

I'll re-open this until we can narrow things down.

[2016-04-01 17:35] #10 closed, assigned to d4mation

[2016-04-01 17:38] d4mation commented on #10
As the 404 template doesn't normally give the User any way to control what is visible, I added a couple Customizer Controls that only apply to the 404 Template.

![image](https://cloud.githubusercontent.com/assets/7770631/14215083/c9ddd094-f80e-11e5-9644-047cb35bf491.png)

There is also a Sidebar/Widget Area specific to the 404 Template that can be used to put in a Menu or whatever other Widgets t

[2016-04-01 18:48] d4mation opened #16 "Footer suddenly isn't working properly"
Large portion of the Footer is missing without PHP Errors or JavaScript Errors.

This is going to be an adventure.

[2016-04-01 18:50] d4mation commented on #16
What's even stranger is that this seems to only happen in Production. Locally everything is fine.

[2016-04-01 18:54] d4mation commented on #16
Ugh, that's embarrassing.

Browser extension was hiding it. Must have updated some of its rules to include the majority of the footer.

[2016-04-01 18:54] #16 closed, assigned to d4mation

[2016-04-01 20:17] #12 closed, assigned to d4mation

[2016-04-04 14:56] #11 closed, assigned to d4mation

[2016-04-04 16:19] BigActual commented on #15
Had Kevin sent you the 4 images he mentioned above?

[2016-04-04 16:19] d4mation commented on #15
Nope. I'll open another Issue for that real quick.

[2016-04-04 16:21] d4mation opened #17 "Home Page Footer - 4 Row Replacement"
In #15, @skarritt mentioned that the "Perfect Order" section was going to be replaced with 4 new rows.

This Issue is just to help track that and bring discussion/resources over this way.

[2016-04-04 16:23] BigActual commented on #7
Smart employees goes to the staff archive page. US, Canada & Mexico page doesn't exist yet, and may not. Pull the hyperlink for now.

[2016-04-04 16:24] BigActual commented on #1
@skarritt, when you return from vacation, would you provide SVGs please?

[2016-04-04 16:28] BigActual commented on #9
I'm on the fence on this. I'm more concerned about styling on individual services than I am about hthe number of services that will be available. I don't want the client or I to think about "how" to make the content look right each time a new service is added. There will end up being about 10 services I'm guessing. These will be developed over time.

[2016-04-04 16:29] BigActual commented on #2
We'll be developing that content over the next several weeks. The client and Kevin are on vacation until the 11th. I will, however ask the writer (Nancy) to draft up the first iteration of one of these.

[2016-04-04 16:30] BigActual commented on #8
Somewhere easy to access. Pop it in where you think it's effective and we can iterate if necessary.

[2016-04-04 16:37] BigActual commented on #10
Fancy. So the copy under the error message is editable then? Great. @skarritt... Thoughts?

[2016-04-04 16:38] BigActual commented on #16
Nice.

[2016-04-04 18:17] d4mation commented on #7
Updated the hyperlinks.

[2016-04-04 18:17] #7 closed, assigned to d4mation

[2016-04-04 19:49] #9 closed, assigned to d4mation

[2016-04-04 19:55] d4mation commented on #9
I opted to convert it to a CPT Archive-Loop within the Page Template. It looks the same as it does in the screenshot above, but the data is now sourced via the `Services` CPT. This will help keep things centralized and hopefully make things more clear to the User.

Right now it outputs any and all Services in `post_date` order. The order can be changed however it needs to be and pagination can be

[2016-04-04 19:58] d4mation opened #18 "Carriers Landing Page"
Include Services [category:carrier] Archive Loop

[2016-04-04 20:23] #18 closed, assigned to d4mation

[2016-04-04 20:25] d4mation commented on #2
I ended up handling this and #18 the same for now.

The implementation for now is identical to the Services Page (#9), but they are limited to their respective Categories.

This allows content to be easily placed above or below the Services Listings. I closed #18, but seeing as these pages may be very similar in terms of implementation, I'm going to leave this Issue open for now.

[2016-04-04 20:39] d4mation commented on #5
![image](https://cloud.githubusercontent.com/assets/7770631/14262491/cbaa67bc-fa83-11e5-8c2d-267d71edbd8b.png)

That should cover all the bases.

Everything in the Sidebar is controlled via the Customizer. Social Icons show or hide based on if they are set in the Customizer or not. The Google Map gets generated based on the Address, and Phone/Fax show if they are entered as well. They are placed i

[2016-04-04 20:39] #5 closed, assigned to d4mation

[2016-04-05 14:58] d4mation commented on #8
There's now a nice Search Button that pops up an Overlay on both Desktop and Mobile.

On Mobile, it closes the Off-Canvas Menu automatically to bring it to the Overlay. Due to the size of the Logo, I couldn't fit the Search Icon in the header very well on Mobile.

This avoids putting an unsightly Text Box in a static location like the Header.

The small animation is done via SVG, so there should b

[2016-04-05 15:01] joelworsham commented on #8
It would be radical if when the overlay came up, the text field automatically gained focus

[2016-04-05 15:02] d4mation commented on #8
Good point! I'll set that up in just a moment.

[2016-04-05 15:02] joelworsham commented on #8
This overlay is fantastic though

[2016-04-05 15:26] BigActual commented on #8
Awesome.

[2016-04-05 16:57] #8 closed, assigned to d4mation

[2016-04-05 17:00] d4mation commented on #8
Threw in a `usort` to force `Pages` to show before anything else.

Also made the Text Field gain focus as soon as the Overlay is active. Added in the ability to hit `esc` to close it out.

Should be good to go with that, at least for now. As @BigActual said, it can always be iterated upon.

[2016-04-12 12:09] BigActual commented on #1
bump @skarritt

[2016-04-12 12:11] BigActual opened #19 "Add me as an Admin"
@d4mation- Please & Thanks

[2016-04-12 12:13] BigActual commented on #6
Let's at least make sure the client logo is used here.

[2016-04-12 12:16] d4mation commented on #19
Done. You should have an email about your account.

[2016-04-12 12:16] #19 closed, assigned to d4mation

[2016-04-12 12:45] d4mation commented on #6
The Logo is now in place for the Login Screen. It links to their website instead of wordpress.org as well.

![image](https://cloud.githubusercontent.com/assets/7770631/14460332/f3b24394-008a-11e6-9d8d-c35e9b975903.png)

[2016-04-12 15:26] BigActual opened #20 "Button bug fix"
Notice the design issue in the button on my display: ![image](https://cloud.githubusercontent.com/assets/8271108/14465441/0c813a86-00a1-11e6-8f02-14d249ebc7e8.png)

Chrome (latest), Windows 7 only. Safari, Opera & Firefox are fine.

[2016-04-12 15:28] d4mation commented on #20
Interesting. I tested this on Chrome in Windows without any issues, but granted that was on Windows 10.

What resolution is your screen set to?

[2016-04-12 15:29] BigActual commented on #20
1920*1080

[2016-04-12 15:30] d4mation commented on #20
I'll see if I can replicate this. My display is 1080p as well on my personal desktop running Windows 10.

[2016-04-12 16:25] BigActual commented on #2
I'd like to pitch in and help here Eric. Could you clarify the question for me pleae?

[2016-04-12 16:32] d4mation commented on #2
I pulled the checkboxes above at the start of the Issue from some bullet points in the Google Doc.

I'm just looking for specifics on how they want those kinds of things implemented, as they are likely going to be too complicated to be thrown directly into the standard, default content editor. Even a simple-mockup describing what they are wanting it to look like would help because then I can deter

[2016-04-12 16:38] #20 closed, assigned to d4mation

[2016-04-12 16:44] d4mation commented on #20
Just to document this:

This was caused by a browser having its internal font-size scaling set higher than the default.

Since the neat little "arc" effect on the buttons is produced by pre-drawn SVGs based on the buttons being a specific size, I had to set the `font-size`s of any buttons with that "arc" to be a static pixel number rather than being dynamically calculated via an `em` value.

The s

[2016-04-12 19:10] BigActual commented on #2
@skarritt and i have a conversation scheduled at 11am tomorrow, the 13th, to discuss this.

[2016-04-12 19:22] d4mation commented on #17
Is the idea for there to be **5** Rows now? Just making sure since the .ZIP I received had 5 matching background images and copy.

[2016-04-12 20:46] d4mation commented on #17
Either way, I have this set up so that the 5th one can be easily changed/removed.

They alternate left/right currently on an odd/even basis, but if needed I can make that something the User can decide.

In order to help preserve a mobile-first approach and to allow these sections to be easily repeatable, I didn't align them into the corners as some of them were.

Adjusting `heading` sizes or inten

[2016-04-12 20:46] #17 closed, assigned to d4mation

[2016-04-13 18:04] d4mation commented on #2
Any updates on this? @BigActual @skarritt

[2016-04-13 19:03] BigActual commented on #2
We're trying to connect.

[2016-04-13 19:30] BigActual commented on #2
OK, so here's the deal. Finish what was laid out in the mockup and these items are what we're going to employ later. So, for now. Finish and prepare to add as required in the future.

[2016-04-13 19:37] d4mation commented on #2
I have all the screenshot mockups (#7, #3, and #9) all taken care of.

I've added the content from the Google Doc to the Page in the Content Editor, so all that's really left for this page would be the Checkboxes above.

I'll close this Issue, and we'll make new Issues for the other items as-needed then.

[2016-04-13 19:37] #2 closed, assigned to d4mation

[2016-04-13 20:03] BigActual opened #21 "Lack of contact us form"
Lack of Contact us form on the Connect page seems wonky. Would like to add it. @skarritt  Where do you want to put it?

[2016-04-13 20:15] skarritt commented on #21
Either of two options:

1) Have only one "Connect" page and put the info into priority order:
      - intro blurb
      - main contact info (Joe's info for now)
      - contact form
      - credit app
      - job app info

OR...
2) Have separate forms for "Connect", "Credit App" and "Job App" functions.

my 2¢

[2016-04-13 20:22] BigActual commented on #21
Separate seems more intuitive for the end user. If connected to the
workflow for each process.

On Wed, Apr 13, 2016 at 4:15 PM, Kevin Skarritt notifications@github.com
wrote:

##

Thanks,

Steven R. Bennett, Partner
Real Big Marketing, LLC.
(517)358-6794

---

THIS MESSAGE IS CONFIDENTIAL. This e-mail message and any attachments are
proprietary and confidential information intended only for the u

[2016-04-13 21:24] #1 closed, assigned to d4mation

[2016-04-13 21:30] d4mation commented on #21
Just to clarify:

Is the idea to have 3 separate Forms on the same Page, or to have 3 separate Pages holding individual Forms? Either way works.

I must have not accounted for one originally after seeing this on the Google Doc as I was creating Issues. I guess I interpreted it as "no forms" even though a Contact Form is pretty important.
![image](https://cloud.githubusercontent.com/assets/7770631/

[2016-04-15 14:47] brashrebel opened #22 "Login link goes to the wrong place"
Look at the link on the old site: http://www.automatedlogistics.com/

No need for a link to WP admin anywhere on the site.

[2016-04-15 14:51] d4mation commented on #22
All set in both the Primary Menu and the "Connect" Menu in the Footer.

[2016-04-15 14:51] #22 closed, assigned to d4mation

[2016-04-15 14:58] brashrebel opened #23 "Animate loading of home page elements"
Check out what Joel did with the loading of everything on the home page of realbigmarketing.com. I think there's cool potential on the ALS site to animate the red line as you scroll down. The http://renderwp.com/ site also has some nice animations as you move down the page. I think we could just spruce it up.

[2016-04-15 16:44] BigActual commented on #19
Thanks for this BTW.

[2016-04-15 16:44] BigActual commented on #6
Nice.

[2016-04-15 17:33] brashrebel commented on #21
I was mistaken. A very simple contact form is within scope for phase 1. Please add one.

[2016-04-15 17:52] d4mation commented on #21
Just added it to the Page Template with an ACF control. This way it can be easily swapped out if needed.

![image](https://cloud.githubusercontent.com/assets/7770631/14570224/23a46770-0311-11e6-8cfe-8d0b406575b1.png)

![image](https://cloud.githubusercontent.com/assets/7770631/14570237/34a25ec4-0311-11e6-825f-b7a743aecdcf.png)

[2016-04-15 17:53] #21 closed, assigned to d4mation

[2016-04-18 15:27] d4mation commented on #23
Took a lot of tweaking, but I managed to get [WOW.js](http://mynameismatthieu.com/WOW/) working nicely with [Motion UI](http://foundation.zurb.com/sites/docs/motion-ui.html). The sparse documentation for using them together worked well enough for Animations (Spinning, wiggling, etc.), but not for Transitions (Fade in/out and such) so I had to figure out how to get that working.

The Timeline secti

[2016-04-18 16:03] d4mation commented on #23
Added in some slide-in animations for the CTA/Hero sections to bring their text into view and set the little Icon Buttons toward the top to expand to their full size.

Everything works great on Mobile as far as waiting for them to be in-view before transitioning in, which is very nice.

[2016-04-18 17:08] d4mation commented on #23
I didn't notice WOW.js had some paid licensing stuff at the bottom until after I implemented it, so I changed it up to use a modification of what http://renderwp.com/ is using.

Still works just as well, if not better. Have to run some nasty regex on the Class Names of elements to determine which Motion UI functions to call, but it works and it should be easy to animate anything from here on out.

[2016-04-18 17:43] brashrebel commented on #23
Great! What do you think about my silly red line idea?

[2016-04-18 17:45] d4mation commented on #23
Ah, I misunderstood you about the line.

I might be able to figure something out for that. It is made using a `:before` pseudo element on the Container.

![image](https://cloud.githubusercontent.com/assets/7770631/14613750/d23aad4c-056b-11e6-887d-11aefdb969bc.png)

[2016-04-18 17:46] brashrebel commented on #23
It isn't critical. But I do want some flourishes. Although, please hold on ALS for the time being. This is in a review phase until...a couple more days.

[2016-04-22 13:03] JasonWebsterALS opened #24 "home page bottom border"
On my pc, the home page has a white bottom border and I think it would be cool if there was an icon in the middle of that border telling people to scroll down. I've seen something similar on website and it was a translucent type icon that disappeared as I started to scroll but would appear again when I stopped. I think this could help users know there is more content below.

[2016-04-22 13:10] JasonWebsterALS opened #25 "Back button"
When I go to the bottom of the home page and click "our services" and go to that list, if I select one, there isn't an easy way to go back to the list. It would be nice if there was back button somewhere once you selected to learn about one of our services that would take them back to the page where they are all listed. I could get back by selecting our services again at the bottom of the page, so

[2016-04-24 16:58] skarritt opened #26 "Styling Suggestions"
Greetings Eric and Kyle,
Steve asked me to jump in with comments on nit-picky styling issues.  Here are a couple - pasted below.  within each class/ID that I'm commenting on, I've only included the parameter that I'm suggesting to be changed.  Please let me know if any of these don't make sense.  I'll continue to scour and throw little tweaky things back your way.

.button.with-arc.secondary {

[2016-04-25 12:49] d4mation commented on #26
I've gone ahead and made all of these adjustments and they are on the test site.

You mentioned the Connect Page in particular for Submit Buttons, but what do you think about how it appears for the Search Form Submit Buttons? It seems to work well full-width there.

![image](https://cloud.githubusercontent.com/assets/7770631/14784210/615d09c4-0ac2-11e6-8efd-37009a5012ff.png)

![image](https://clou

[2016-04-25 13:32] d4mation commented on #24
I've mocked something up for this within another branch of code on my own computer. Here's a quick .GIF of it in action.

At the start you can see that as I scroll down, the Arrow fades out of sight. However, if I decide to click on the Arrow, it smoothly scrolls me down to the Timeline area.

(On my local copy of the site, I don't have the Menu above including all the Links that you can see on th

[2016-04-25 13:39] JasonWebsterALS commented on #24
I think it looks good.

Thanks,

Jason Webster
Inside Sales Executive
Office +1 800.551.9399 x 168
Mobile +1 517.974.9230
Fax +1 517.905.3102

   “Delivering Experiences with Passion and Energy”

[cid:image001.jpg@01D0C9DF.0D727800]http://www.automatedlogistics.com/
AfterHours@automatedlogistics.commailto:AfterHours@automatedlogistics.com is available 24/Hours for assistance.

Disclaimer: All serv

[2016-04-25 15:27] d4mation commented on #25
![image](http://i.imgur.com/uBPm1Jt.gif)

I've decided to implement this as "Breadcrumbs" throughout the site so that Users can easily follow their trail back to where they were before without needing to rely on the Back functionality within their Web Browser.

Does this line up with what you're looking for?

[2016-04-25 15:59] JasonWebsterALS commented on #25
Yes. It is better than what I was hoping for.

Thanks,

Jason Webster
Inside Sales Executive
Office +1 800.551.9399 x 168tel:+1%20800.551.9399;168
Mobile +1 517.974.9230tel:+1%20517.974.9230
Fax +1 517.905.3102tel:+1%20517.905.3102

 Automated Logistics Systems

   "Delivering Experiences with Passion and Energy"

On Apr 25, 2016, at 11:27 AM, Eric Defore <notifications@github.com<mailto:notificat

[2016-04-25 15:59] #25 closed, assigned to d4mation

[2016-04-27 16:33] owielanctot opened #27 "About Us"
On the home page, in the top right menu, could we add an "About Us" section. Currently you have to scroll to the bottom of the page to see this is available information

Thanks
Owie

[2016-04-27 17:38] d4mation commented on #27
I added it to the top menu as a dropdown so that links to Staff, About Us, and Careers are easily accessable in the same way that they are in the footer.

![image](https://cloud.githubusercontent.com/assets/7770631/14861905/2edac7c2-0c7d-11e6-923a-50e0541810e1.png)

Is that what you're looking for?

You may need to hard-refresh for the fix that I applied to show for you. (`CTRL+F5` on a PC, `CMD+S

[2016-04-27 18:16] owielanctot commented on #27
Yep that's it! Thank you

[2016-04-27 18:16] #27 closed, assigned to d4mation

[2016-04-27 19:43] owielanctot opened #28 ""Our Products" Tab"
In the blue bar in the middle/bottom of the home page I think there should be a circle tab option added called “Products.”  It would be to the left of the “shippers” circle tab on the blue bar. This is the bar below the zooming cars picture

Within this tab it will take you to our five main products:
Brokerage
CT
Consol/Deconsol
Engineering
Warehousing

Thanks!

[2016-04-27 20:16] brashrebel commented on #28
Good idea @owielanctot, though this is really a content question. I think we'll need to discuss this more deeply before implementing as it does not line up with what our original strategic plan and research outlined.

I agree that those products (we've also referred to them as "services") are very important to highlight. However, I don't necessarily think that is the right place to do so. The thre

[2016-04-27 20:40] owielanctot commented on #28
I see what you're saying @brashrebel, if that is the case and the train of though we would like to continue with, we need to change "Shipper" to something like "Customer." But I don't like customer. I would rather have it say products.

Leaving it as is pigeonholes our site visitors into just one product

[2016-05-02 17:43] owielanctot commented on #28
@brashrebel Hey Kyle- Just talked with Paul- changing "Shippers" to "Customers" should take care of the immediate need. Thanks

[2016-05-03 19:50] skarritt opened #29 "initial state of the jobs accordion be "all closed" to start"
Have initial state of the jobs accordion be "all closed" to start ... not having the first one open.

[2016-05-03 19:50] BigActual opened #30 "Shippers Page Add calls to action"
Switch dead link to a call to action. add CTA in the hero image. bottom and sidebar (Banana)

[2016-05-03 19:51] BigActual opened #31 "Remove square around staff images on Staff Page"

[2016-05-03 19:53] BigActual opened #32 "Right Sidebar with widgets for Shippers Page"
Call us today
Phone number

Contact Us

[2016-05-03 19:55] skarritt opened #33 "Contact Page"
It feels "odd" to have the first block of text on this page being about a "credit application". This seems more like it should be on the shippers/carriers pages.

Also, the block with Joe's contact information without any message from Joe (something like, "You're important to us. Feel free to contact me directly. Joe") feels a little off.

If this doesn't make sense, please contact me -- 517-925-8

[2016-05-03 19:55] BigActual opened #34 "Right Sidebar with widgets for Carriers Page"
For calls to action. Contact Us with correct phone number  and then another button for the Connect Page.

Thinking of this, if they click the email link, how about bringing up the form in it's own window with focus on the form, like the search function.

[2016-05-03 19:56] BigActual opened #35 "About Us Page Needs to exist"
For discussion:
A little blurb about the team with a link to the team
A little blurb about the history with a link to the history.

[2016-05-03 19:59] BigActual opened #36 "Search Form Submit Button Changes"
Make the form a box.
Fix the button to max width 300px
Left justify the button

[2016-05-03 20:02] #29 closed, assigned to d4mation

[2016-05-03 20:05] brashrebel commented on #35
Who's doing this? Sounds like content so I can't assign it to a developer.

[2016-05-03 20:07] #31 closed, assigned to d4mation

[2016-05-03 20:08] brashrebel commented on #34
I'd generally label that as an enhancement for a future milestone (the form like search thing) but it sounds nice and would be consistent with the search feature so let's incorporate that.

The other stuff I don't get. You need empty sidebars just in case? What's going there exactly?

[2016-05-03 20:11] brashrebel commented on #33
Yeah, that makes sense. But it is a content question so we'll need to get the content people in the discussion. That page content is editable and we can certainly rearrange. We just need concrete, final direction to do so.

[2016-05-03 20:11] brashrebel commented on #32
Do you have any guidance for how these should look? Are these in the mockups?

[2016-05-03 20:12] brashrebel commented on #30
I'm not following you with the dead link thing. Or the banana thing.

[2016-05-03 20:15] #36 closed, assigned to d4mation

[2016-05-03 20:29] d4mation commented on #35
There technically is an About Us page right now [here](http://alsintersite11.wpengine.com/about-us/). All of the mock-ups pointed toward representing it in the Menus as "Our History" under a more global "About Us" umbrella.

The Page Title and Slug for "Our History" are both "About Us" currently.

Should there be a separate "About Us" page?

[2016-05-03 20:58] BigActual opened #37 "Red arrow"
Not showing correctly in Firefox, Chrome or IE on Windows. It's completely missing on Firefox and Chrome for me. In IE, it looks like this:
![image](https://cloud.githubusercontent.com/assets/8271108/14998090/1f05f984-1150-11e6-9bd5-da83926f4f7c.png)

Kevin says that on his machine it's not aligned correctly. Is this element required or can we achieve the same goal with a better ux element?

[2016-05-03 20:59] BigActual opened #38 "Mobile Sub menu items"
Let's give them an indent please. They color change is not enough.

[2016-05-03 21:01] BigActual opened #39 "Featured Items"
Switch featured items from each one having an image fully stretched to alternating between that and the next one having a solid color background. Format like this; http://new-site.marismith.com/

[2016-05-03 21:02] BigActual opened #40 "left justify search button"
![image](https://cloud.githubusercontent.com/assets/8271108/14998222/dcfc0cbc-1150-11e6-96d3-3120f32e4472.png)

[2016-05-03 21:03] d4mation commented on #37
The Red Arrow was added in as a suggestion in #24. By the time it reaches 50% up the page it is intended to become entirely transparent. I'm entirely open to different UX suggestions&mdash;it is a weird issue since different size screens will see more or less of the following section on page-load which could lead to it being less necessary anyway.

It shows in Chrome and Firefox for me:
![image](h

[2016-05-03 21:07] BigActual commented on #32
Kevin's swamped. To make it faster, would @d4mation use his best judgement and let us suggest edits please?

[2016-05-03 21:14] BigActual commented on #37
There's a problem with this in general. I'm going to reopen #24.

[2016-05-03 21:21] BigActual commented on #24
I'm sorry I was out of town and wasn't able to address this. The scroll down function was left out on purpose. The red button takes away from the actual call to action which is the three buttons that sit right above it. That's the course of action we want end users to follow. Everything below is important, but mainly for SEO purposes and for the minority of users who don't go in the direction we'r

[2016-05-03 21:32] BigActual opened #41 "Careers Page - Present page with all jobs closed"
http://alsintersite11.wpengine.com/careers/
![image](https://cloud.githubusercontent.com/assets/8271108/14999067/f559fb44-1154-11e6-8d46-2ab8d5c0bdd7.png)

[2016-05-03 21:45] brashrebel commented on #41
same as #29

[2016-05-03 21:45] #41 closed, assigned to nobody

[2016-05-03 21:46] #37 closed, assigned to nobody

[2016-05-03 21:48] brashrebel commented on #32
I don't really like that normally because it's slower but this is a fairly simple element so I'm ok with it.

[2016-05-03 21:50] brashrebel commented on #39
Just curious: why?

[2016-05-03 22:39] BigActual commented on #39
Clarity, usability, enhanced visual appeal, accessibility...

[2016-05-03 22:40] BigActual commented on #32
Thanks

[2016-05-03 22:41] BigActual commented on #41
Ha ha, yes. We were collaborating.

[2016-05-03 22:53] BigActual commented on #30
Right, good question. Mistyped dead link and meant to say replace "No Shipper Services Found" with a call to action. In this case, "Give us a call to get started - phone number" Match font to the styling of the sidebar elements @d4mation is creating for #32 and #34.

[2016-05-03 22:54] BigActual commented on #30
Monkeys=users, banana=cta.

[2016-05-03 22:55] BigActual commented on #33
I'll have Nancy address this. Assigning to me. Will mark complete when done.

[2016-05-03 23:33] brashrebel commented on #39
AKA, you think it looks better. Ha ha.

[2016-05-04 12:14] BigActual commented on #39
AKA, Kevin and I.

[2016-05-04 12:17] BigActual commented on #39
To clarify, format to match spatially with the other site. not branding. Maintain the ALS brand.

[2016-05-04 12:28] #38 closed, assigned to d4mation

[2016-05-04 12:32] d4mation commented on #40
To clarify, you're wanting it aligned to the right? I always think of justification in the typographical sense in that the left and right edges of a block of text are as flat as possible and larger spaces between words may be needed to achieve it.

![image](https://cloud.githubusercontent.com/assets/7770631/15014202/a1a5c888-11d2-11e6-98af-5d11eccca932.png)

[2016-05-04 12:44] BigActual commented on #40
aligned left

[2016-05-04 12:46] d4mation commented on #40
Ah, I see what's happening in your screenshot now. I thought you had gone into the inspector and aligned it to the right, but it is just the way the image is cropped.

Pushing changes now.

[2016-05-04 12:47] #40 closed, assigned to d4mation

[2016-05-04 12:59] BigActual commented on #35
No, good catch. Kevin and I were recording issues as we came across them during our meeting. Just link the menu item to the existing page. Thx.

[2016-05-04 13:03] d4mation commented on #35
All set!

In the Main Navigation, should I remove the link to "Our History" since the "About Us" tab itself now links to the same page? I figure it could be confusing to users if they click "About Us" and it shows that the current page is "Our History"

![image](https://cloud.githubusercontent.com/assets/7770631/15014945/f9d183e0-11d6-11e6-9aac-468a1cb29434.png)

[2016-05-04 13:20] BigActual commented on #23
As we scroll past images that aren't already full width, let's make them enlarge slightly. For example, the first image in the redline section is already a bit larger. It's actually too large for what I'm thinking. But if each of the images could start at the size of the second, third and fourth item and enlarge to something a little bigger. That would be ideal for the purposes I'm envisioning.

[2016-05-04 13:26] d4mation commented on #23
Ah, yeah, the first image got swapped in at some point and since it is much larger than the others it is getting scaled down to a `600px` width which I set as the maximum for that section. All the other images aren't even big enough to get effected by that normally.

The scaling animation sounds really neat though. I'm going to look into implementing that.

[2016-05-04 14:37] d4mation commented on #23
I just added a slight scaling animation to the images within the Home Timeline and I altered the size of the images to max out at `500px` to help them appear to be closer to the same size.

I tried to record a GIF of it in action, but unfortunately [Recordit](http://recordit.co/) will only let me record in 4fps which couldn't show it very well. The changes are up on the server now and if needed, i

[2016-05-04 15:51] d4mation commented on #30
Is there anything unique between the sidebars for the Shippers page and the Carriers page? Wondering if this could be solved with a single Sidebar that can be managed from one location.

Referencing #32 and #34

[2016-05-04 18:14] d4mation commented on #39
The featured items being the rows at the bottom created in #17?

I've done a quick mock using ALS Blue as the background color for every other row.

![image](https://cloud.githubusercontent.com/assets/7770631/15024151/b54d0cf0-1201-11e6-9290-edab11443e5a.png)

On the example site, she seems to have lots of different types of content within the solid background areas (Like that four square area tha

[2016-05-04 18:45] BigActual commented on #39
You'll notice that the People of importance are on the left side of the images you've left stretched. Flip flop the buttons on those to the right side. For the sections with blue background and Yellow CTA text, switch to White background and change the yellow COPY to blue. In those items then, align the CTA and button on the left, not centered, but definitely keep the copy center justified in it's

[2016-05-04 18:46] d4mation commented on #26
Referencing #36 and #40.

[2016-05-04 19:44] d4mation commented on #39
Ah, the bit about the People of Importance being overlapped was due to my local environment being slightly out-of-sync with the test server. I've gone ahead and corrected that&mdash;bit overdue anyway.

I've gone ahead and implemented this locally. The smaller versions of the images scale in to view on-scroll just as the text slides in from the side. They are set to center themselves vertically bu

[2016-05-04 19:49] BigActual commented on #39
Agreed. Taller images would work better. Please adjust to fit and let me know if you need new versions. Can do. Now, just flip flop everything. By that I mean odd rows will have copy and call to action right and even rows will have copy and call to action left with picture to the right.

[2016-05-04 19:52] BigActual commented on #23
No worries. Can you make it so that no matter what's loaded, it presents at the correct finished size? This way the user can be off a bit. Oddly stretched images have to be reloaded manually by the user who's loading them of course, but if they're proportionately correct they'd present correct.

[2016-05-04 19:54] BigActual commented on #30
I understand what your getting at, but keep each one separate. They're serving different User Personas and will have different content. I believe this is a good place to ensure that the User can intuitively change content which makes this a good candidate for a CPT with fields to fill in. @brashrebel please jump in here.

[2016-05-04 20:20] d4mation commented on #39
I was able to simply crop the images and it works much better now. I had to move the "Trust, Teamwork and Personal Touch" CTA one row up since all Even rows now have the CTA text on the left of the row.

![image](https://cloud.githubusercontent.com/assets/7770631/15027745/3c4c6c62-1213-11e6-9f12-bad7b5f0925d.png)

[2016-05-04 20:36] d4mation commented on #23
Do you mean having the images scale proportionately? That's how it works currently. If the image is wider than `500px` it scales down proportionately to have a width of `500px`.

The other images below are all much wider than they are tall (Similar to how the images were in #39) but they are very small pixel-wise so there isn't any room to crop them down nicely. The second image in the Timeline is

[2016-05-04 21:00] d4mation commented on #30
A CPT for CTAs? I guess I'm confused.

For the Sidebars (Which were mentioned earlier in this Issue and then I tacked onto that), it seems that the only things they need are a Phone Number and a link to the "Connect" Page. Are they wanting to load CTAs within the Sidebar outside of basic links/buttons?

Are the CTAs going to be globally accessible/reusable throughout the site? That would make usin

[2016-05-06 13:54] BigActual commented on #26
please align left

[2016-05-06 13:54] BigActual commented on #26
Global change. All form buttons align left.

[2016-05-10 14:40] d4mation commented on #26
Went ahead and set the Connect Form to use the same Global Styling that is hitting the Search Overlay Form so it will align left.

![image](https://cloud.githubusercontent.com/assets/7770631/15150154/12feb6b8-169a-11e6-9bf9-b476ed839707.png)

For the Search Forms within Sidebars (Such as on 404 Pages), it maxes out in size on every screen size I've tested since the sidebar's width is less than `30

[2016-05-16 16:08] d4mation commented on #34
The sidebar has been added and can be easily managed via Widgets in the backend.

Which Email Link should be popping up a special form? Right now I have a button that links to the "Connect" page which has the email form, but I may be able to get something like the Search Overlay working.

[2016-05-16 16:09] d4mation commented on #30
I've gone ahead and implemented basic Sidebars for #32 and #34. I separated them out so that content could be different between the two, but currently they both show just a Phone Number and a button leading to the "Connect" page.

I added the "Give us a call to get started" text in the "After Content" field that I have available on each Page so that it can be easily edited at any time.

![image](h

[2016-05-16 17:55] d4mation commented on #39
Just committed the changes in the above Screenshot to the test site and uploaded the cropped versions of the photos for the appropriate rows.

[2016-05-16 20:22] BigActual commented on #26
Sounds good. Thanks.

[2016-05-16 20:27] BigActual opened #42 "Global Change Shippers to Customers"
SItewide, please change all instances of the Titles, Links and Buttons using the word Shipper, to Customer and Shippers to Customers. Thanks

[2016-05-16 20:33] BigActual opened #43 "Adjust the method with which clicking [Find Out How] in the hero image displays content."
When you click on “Find out How” under Beyond Driven it will display an overlay that looks similar to the search overlay.
The covenant video will show here which is being created by JTV. There will still be Customer, Carrier, and Careers Icons available for people to take the next step after hearing the info, just like on the home page.
I suggest placing those underneath the video so they align si

[2016-05-16 20:42] BigActual opened #44 "Create and Style Blog as ALS News and create links from home page to content"
Create and style Blog Post Type, and related templates. Client would like to call this section ALS News.
Create three links from the home page: Main Navigation, Repurpose the “XXXX” blank space in the Red Line to show the latest post or video, and footer nav link. Within this section ALS will post things like quarterly meeting updates and blog posts ghost written by interns.

@brashrebel, I unders

[2016-05-16 22:41] BigActual opened #45 "Create, register and style Products"
1. Create and register content type Products
2. Rework Customers Template to continue to present content about what ALS does and offers, and add appropriately styled archive of products.
3. Create and style Product Single template mentioned above.
   Create links to Product Single; both from the Main Navigation and ensure that clicking a product in the archive list takes you to the sub-pages based

[2016-05-16 22:50] BigActual opened #46 "Carriers Packet Download (PDF File)"
On the “Carriers” page have a place to download carrier packet pdf

I've requested a copy from the client. Will post here when available

[2016-05-16 22:53] BigActual opened #47 "Link to LinkedIn"
Careers- have the apply now link to linked in service

For us, this means adding a field in the job listing admin interface where ALS can enter the url to the specific job on LI.

[2016-05-16 23:13] BigActual commented on #39
You were right. Go with the Blue Background instead of white. However, use white copy instead of yellow. I'm reserving yellow for actionable items like links and buttons. That's a universal design element both online and offline.

[2016-05-16 23:34] BigActual commented on #39
Also, on wider screens the items in this section are pushing out to the whole width. We've restricted max width in several other sections. Let's do that here as well. Call me or Slack me to discuss details if this does not make sense.

[2016-05-17 12:41] d4mation commented on #39
You mean that the text is being pushed entirely out of sight? I managed to do that just now by adjusting the font-size within my browser to "Large". I'm going to look into this more.

![image](https://cloud.githubusercontent.com/assets/7770631/15322469/18a0df80-1c0b-11e6-8fc4-c2470508bcd6.png)

[2016-05-17 12:59] d4mation commented on #39
Managed to fix it for this situation. Turns out it didn't like the way I was vertically aligning the text. Thankfully there's more than one way to do that.

![image](https://cloud.githubusercontent.com/assets/7770631/15322967/9a5d018c-1c0d-11e6-8a61-a7079f6b088c.png)

![image](https://cloud.githubusercontent.com/assets/7770631/15322950/8fa6714c-1c0d-11e6-896a-cbe34d8b0c27.png)

[2016-05-17 17:38] d4mation commented on #39
Did a little bit of tweaking and I think I've got this looking better on larger (15"+) monitors without sacrificing the current layout.

The text and images fit within a container, but the background colors (and background images, in the case of even rows) are full-width to help hide the container. On ultra-wide monitors this is good since otherwise there'd be a blue rectangle with empty white spa

[2016-05-17 17:43] BigActual commented on #39
Nice. Thanks.

[2016-05-17 17:47] BigActual opened #48 "Staff Single Template"
[Profile Master.docx](https://github.com/automatedlogistics/Theme2016/files/268800/Profile.Master.docx)

See page 1

[2016-05-17 17:49] BigActual commented on #48
Please format to match, any oddities in design should default to the existing web standards. I.e. Font sizes, lines, etc. The portrait does not have any lines around it and needs to be resized to match the ratio of the pic presented in the Word Doc.

[2016-05-17 17:51] BigActual commented on #48
Also, please make sure the the editor will have fields to enter social media profile links. LinkedIn is required.

[2016-05-17 17:52] #6 closed, assigned to d4mation

[2016-05-17 17:56] BigActual commented on #23
Let's finalize this. Have the final image maintain ratio and have the final output 424x179 which means using a combination of scaling and cropping. If cropping needs to occur, have it cropped evenly on both ends.

[2016-05-17 18:06] BigActual commented on #48
Earlier in the thread, I spec'd that page 2 was the profile layout to reference. That's incorrect. Use the one marked Online Profile in the Word Doc.I've changed that comment to match.

[2016-05-17 18:31] BigActual opened #49 "Technical glitch on android / Logo Menu overlap"
![screenshot_20160517-134246](https://cloud.githubusercontent.com/assets/8271108/15334450/38976ecc-1c3c-11e6-970c-8b099b179f25.png)

Landscape view logo is covered by menu.

[2016-05-17 18:33] d4mation commented on #23
Ended up cropping it to `75%` height of the original image and then bumping it down a bit to help keep things within the frame. In order to keep the proportion similar, some of the image had to be lost toward the bottom. However, you can still see the ALS logo on their shirts. Now the regular resizing rules that scale things make them all look the same size.

![image](https://cloud.githubuserconte

[2016-05-17 18:36] d4mation commented on #49
Interesting, doesn't seem to have that problem on my Nexus 5. Do we know what Android Device this is in particular? (E.G., is it a Tablet/Phablet rather than a regular-sized Smart Phone). I'm going to try to find some breakpoints in the meantime to test.

![image](https://cloud.githubusercontent.com/assets/7770631/15334549/a95b54a2-1c3c-11e6-9c66-ac6fe9c03f98.png)

[2016-05-17 18:37] BigActual commented on #23
Yay. Thanks. PS. Feel free to close these with your commit and I'll reopen if needs be. Unless that contradicts something you're doing on purpose.

[2016-05-17 18:37] #23 closed, assigned to d4mation

[2016-05-17 18:39] BigActual commented on #49
Yes, Galaxy Note 5.

[2016-05-17 18:45] d4mation commented on #23
In this case it wasn't related to a commit in the codebase, so I wanted to ensure you saw it first before I closed it since it was a semi-destructive change. 👍

[2016-05-17 19:18] d4mation commented on #49
I think I may have fixed this. I had to add a custom entry into the Chrome Dev Tools to emulate a Galaxy Note 5 since it isn't normally an option. Unfortunately all I really had to go off of was [this Stack Overflow post](http://stackoverflow.com/questions/34422011/how-do-i-write-media-query-for-galaxy-note-5) as the Note 5 seems to be too new to be in any Viewport Databases I know of.

It seems t

[2016-05-17 20:10] BigActual commented on #49
No change. Hard refreshed.

[2016-05-17 20:11] BigActual commented on #49
This is the chrome browser.

[2016-05-17 20:15] d4mation commented on #49
Just to confirm I've got things set correctly, could you visit this on your Galaxy Note 5 and copy everything that it shows for you?

http://viewportsizes.com/mine/

[2016-05-17 20:32] BigActual commented on #49
412 x 652 portrait
732 X332 landscape

Mozilla/5.0 (Linux; Android 6.0.1; SM-N920P Build/MMB29K)
AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.89 Mobile
Safari/537.36

[2016-05-17 23:02] BigActual opened #50 "Move copy in homepage hero image back to vertical center"
It's moved up in one of the recent updates:

[2016-05-17 23:03] BigActual commented on #50
![image](https://cloud.githubusercontent.com/assets/8271108/15342263/f6ae1f9e-1c61-11e6-89c8-b0646e5dfb03.png)

[2016-05-17 23:03] BigActual commented on #50
![image](https://cloud.githubusercontent.com/assets/8271108/15342274/0984ab38-1c62-11e6-8a27-3b7557a51f69.png)

[2016-05-18 12:49] #50 closed, assigned to d4mation

[2016-05-18 13:14] d4mation commented on #49
I just pushed another change to the server. I'm targeting specifically up until a `733px` width for landscape screens. It _should_ work now, unless Samsung is doing anything super funky with their devices these days.

![image](https://cloud.githubusercontent.com/assets/7770631/15359783/eed857cc-1cd8-11e6-9c4d-b6dba1610373.png)

[2016-05-18 14:29] BigActual commented on #49
Checks out good here. Thanks.

[2016-05-18 14:29] #49 closed, assigned to d4mation

[2016-05-18 19:18] brashrebel commented on #48
I like the profiles. I do think that the icons could potentially be improved by adding some text, possibly below each one. I don't believe the icons are explanatory enough on their own without some accompanying text. Also, on that note, we will need a comprehensive list of the icons that need to exist and the description/label for each so we can make them available. Probably a group of checkboxes?

[2016-05-18 19:27] BigActual commented on #48
The icons, as awards, don't even exist as more than a forethought. Placeholder information. Not even the right icons. They're just ones I scraped from the web. No plan on how to address that section. Need your input to help define the process @brashrebel .

[2016-05-18 19:28] BigActual commented on #48
To set the stage however, the Managers are giving the staff a corkboard and the GEM (Going the Extra Mile) Award is basically a thank you card with a round pin that can be stuck in the board. Badges of honor like football players wear on their helmets. The buttons will be pre-printed and handed out individually. They are not defined yet either.

[2016-05-18 19:33] joelworsham opened #51 "Logo fuzzy on retina"
Can you double the resolution of the image for the main header logo? It's fuzzy for me (retina)

[2016-05-18 19:33] BigActual commented on #48
With regard to your request for text. I don't know that they're important enough to highlight that way. I'd suggest just adding text that shows up on hover, like the name of the award.

[2016-05-18 19:38] d4mation commented on #51
Is there a larger resolution of the logo in the header available, @skarritt?

If you can provide an .SVG/.EPS, we can scale it up to whatever size we need without losing quality.

[2016-05-18 19:56] joelworsham commented on #51
Low resolution on retina logos are one my biggest pet peeves on websites. It's nit picky I know, but it's like the first thing I notice ;)

[2016-05-18 20:01] brashrebel commented on #48
Ok. I'm alright with that. Although we can't incorporate it at all until we have the labels and visuals. Ok to omit those for now and open a separate issue to add them once they actually exist?

[2016-05-18 20:28] BigActual commented on #48
Sounds appropriate to me as well.

[2016-05-19 14:00] BigActual commented on #51
[LOGO-TAG-MASTER-WHITE.zip](https://github.com/automatedlogistics/Theme2016/files/272697/LOGO-TAG-MASTER-WHITE.zip)

[2016-05-19 15:11] BigActual opened #52 "Staff Page Template"
Paul indicated that he likes this flipping idea for the ALS Staff Page Template. Up for discussion is: http://locallogicmedia.com/team.php

[2016-05-20 15:27] skarritt commented on #51
Joel, Here's a PNG if Steve's zip file doesn't do it for you.
![logo-main-retina](https://cloud.githubusercontent.com/assets/13339771/15432832/d3147010-1e7d-11e6-8f52-1fb3551cd1f8.png)

[2016-05-20 15:39] d4mation commented on #51
Just swapped it out for that .PNG and it looks much more crisp.

@joelworsham, how does it look on your end? Could be placebo, but I flipped between the test site and my local install and I think it looks significantly better now.

[2016-05-20 19:57] joelworsham commented on #51
MUCH better. 👍

[2016-05-20 19:59] #51 closed, assigned to nobody

[2016-05-23 14:55] owielanctot commented on #28
Update "Shippers" to "Customers"

[2016-05-23 20:32] owielanctot opened #53 "Content for Carriers page"
[Carriers.docx](https://github.com/automatedlogistics/Theme2016/files/278206/Carriers.docx)

@BigActual

[2016-05-23 20:34] owielanctot opened #54 "Content for Careers page"
[Careers.docx](https://github.com/automatedlogistics/Theme2016/files/278208/Careers.docx)

@BigActual

[2016-05-23 20:38] owielanctot opened #55 "Content for ALS staff page"
Working with ALS means you’re part of a family – not a corporate hierarchy.    Our people are at the core of our success.  We firmly believe the best investment you can make is in your people.   The ALS commitment to talent is evident in each individual you work with on a daily basis and in the teams that will tackle the most complex solutions.  We are dedicated to hiring and developing the smarte

[2016-05-23 20:43] BigActual commented on #28
Referenced in #42. Will mark as complete when changed.

[2016-05-23 20:43] #28 closed, assigned to nobody

[2016-05-23 20:50] BigActual commented on #53
Thanks @owielanctot . I've uploaded the copy and will adjust this week. Will place a note here when ready for your review.

[2016-05-23 20:52] BigActual commented on #54
Uploaded to site @owielanctot . Will advise here when ready for your review.

[2016-05-23 20:54] BigActual commented on #55
Uploaded to site. Will let you know here when it's ready for review, @owielanctot .

[2016-05-25 20:44] BigActual opened #56 "Add default Image for those without a profile image"
I envision some type of an icon in a rectangle of some type or another.

[2016-05-25 23:41] BigActual commented on #52
Call me Eric to discuss this  idea.

[2016-05-25 23:43] BigActual commented on #48
Call me to discuss the details of this Eric.

[2016-05-25 23:49] BigActual commented on #46
Have requested a copy of this from the client. Shouldn't hold up launch however it's important.

[2016-05-25 23:50] BigActual commented on #43
Call me to discuss this Eric.

[2016-05-25 23:51] #39 closed, assigned to d4mation

[2016-05-25 23:53] #35 closed, assigned to nobody

[2016-05-26 13:27] #47 closed, assigned to d4mation

[2016-05-26 13:47] #42 closed, assigned to d4mation

[2016-05-26 13:49] d4mation commented on #42
I've gone through and changed any and all references to "Shipper" to "Customer" within the source code.

On the "Customers" page (Used to be "Shippers") there are still instances of the word "Shipper" as it seems to make better sense in-context in some parts of the copy. If needed, this can be easy changed.

[2016-05-26 13:53] BigActual opened #57 "Create a Favicon and add to site, using the logo"

[2016-05-26 13:54] #24 closed, assigned to d4mation

[2016-05-26 13:55] #26 closed, assigned to d4mation

[2016-05-26 14:29] BigActual commented on #57
[LOGO-SVG.zip](https://github.com/automatedlogistics/Theme2016/files/284594/LOGO-SVG.zip)

[2016-05-26 14:36] BigActual commented on #46
https://mail.google.com/mail/u/0/?ui=2&ik=f80daacdb5&view=att&th=154ed093e78b5483&attid=0.1&disp=inline&safe=1&zw

[2016-05-26 14:40] BigActual commented on #46
@d4mation Can you pull that linked pdf to your lappy?

[2016-05-26 14:42] d4mation commented on #46
Might need to upload it straight to the Issue.

![image](https://cloud.githubusercontent.com/assets/7770631/15578469/8e8bceba-232e-11e6-9fce-f92517e0ed1f.png)

[2016-05-26 14:45] BigActual commented on #46
[ALS_Carrier_Packet.pdf](https://github.com/automatedlogistics/Theme2016/files/284629/ALS_Carrier_Packet.pdf)
 Under the call to action on the right side. A nice looking adjustment to the sidebar. It's sad and needs a touch up.

[2016-05-26 14:55] BigActual commented on #48
[Profile-Master-V2.pdf](https://github.com/automatedlogistics/Theme2016/files/284656/Profile-Master-V2.pdf)

[2016-05-26 14:59] BigActual commented on #48
For the badges, create some dummies for use as placeholders as the client comes up with their own. 55px \* 55px. Make it a field for uploading the icon and a field for the very short description so that, on hover, the description shows like a tool tip.

[2016-05-26 15:10] BigActual commented on #43
Use this file while the videographers figure out how to get back the youtube channel: https://youtu.be/kypHrk2_wK4

[2016-05-26 15:59] #57 closed, assigned to d4mation

[2016-05-26 16:03] d4mation commented on #57
![image](https://cloud.githubusercontent.com/assets/7770631/15581331/d1cf63c0-2339-11e6-82fa-cc2e279d8752.png)

On anything older than IE 11 it seems Microsoft only added support for `16x16` Favicons so it looks a bit scrunched.

Looks great on Firefox and Chrome though. [Safari strangely removed support for displaying Favicons at some point which made a lot of people angry.](https://discussions.a

[2016-05-26 16:12] BigActual commented on #57
Safari 5.1.7 for Windowns still carries the favicon. Just an FYI.

[2016-05-26 16:16] d4mation commented on #57
Hmm, interesting. The Windows version of Safari was discontinued so that's the final version available technically. I'd hope people wouldn't use such an old version, but at least the Favicon works 🙈

[2016-05-26 16:32] #56 closed, assigned to d4mation

[2016-05-26 16:35] d4mation commented on #56
For the Archive I left out the rectangle around the icon since that was a request in #31.

There is a rectangle around them on the Single Staff pages though.

[2016-05-26 16:52] d4mation commented on #48
![image](https://cloud.githubusercontent.com/assets/7770631/15582741/80f204c4-2340-11e6-8f59-18baa4cb5bca.png)

Are there intentions to include staff members that no longer work with ALS? Just curious since the Date Range seems a little strange.

[2016-05-26 18:38] BigActual commented on #48
In my mind is was simpler to comprehend this than to have to read the words "Start Date:" Plus that would have blown out my simple icon alignment.

[2016-05-26 19:00] d4mation commented on #48
Ah, I see. That makes sense. I've got `— Present` hardcoded in there for now to go after the date value.

All that's left for this Issue is getting those Badges looking nice.

[2016-05-26 19:17] owielanctot opened #58 "Content for Customers page"
[Customers.docx](https://github.com/automatedlogistics/Theme2016/files/285140/Customers.docx)

@BigActual

[2016-05-26 19:36] d4mation commented on #48
In the mockup it looks like the Name is meant to be a banner, so I've implemented it as such. The Breadcrumbs get orphaned a bit that way, but the only way I could think to integrate them would be to put them to the right inside the "Name Banner" and I didn't want to move an otherwise static element for just this template.

Badges get scaled down to fit either `55px` width or height&mdash;whicheve

[2016-05-26 19:40] #48 closed, assigned to d4mation

[2016-05-26 19:42] BigActual commented on #58
Thanks. I'll upload and merge.

[2016-05-26 19:45] BigActual commented on #48
I like it better without the blue bar.

[2016-05-26 19:49] d4mation commented on #48
Removed the blue banner 👍

[2016-05-26 20:19] BigActual opened #59 "Remove border around image and scale the image to match the layout from the provided file"
![image](https://cloud.githubusercontent.com/assets/8271108/15588881/19b84dae-235e-11e6-8dc7-811a33558260.png)

Scale the image to match the original mockup provided in #48

[2016-05-26 20:19] BigActual commented on #59
Just a sec, I'll crop that.

[2016-05-26 20:20] BigActual commented on #59
![image](https://cloud.githubusercontent.com/assets/8271108/15588825/bd5fcb4a-235d-11e6-8fdf-92187643c7a4.png)

[2016-05-26 20:44] #59 closed, assigned to nobody

[2016-05-26 20:46] d4mation commented on #59
The Mockup used photos that allow the full-height to be seen, so I adjusted the scaling to account for that.

"Find me on" text now aligns better as well to match up with the mock-up.

![image](https://cloud.githubusercontent.com/assets/7770631/15589521/43d072bc-2361-11e6-90d4-66fd1aca1e53.png)

[2016-05-27 13:11] d4mation commented on #43
Minor tweaks and then this will be all set. I'm making the video URL a Field that can be updated at any time within the Home Page Edit Screen.

![image](https://cloud.githubusercontent.com/assets/7770631/15608920/df3d8e5e-23ea-11e6-963d-eec0583c8626.png)

[2016-05-27 14:00] #43 closed, assigned to d4mation

[2016-05-27 14:34] BigActual commented on #34
Resources for @d4mation
[new-prospect-V3.pdf](https://github.com/automatedlogistics/Theme2016/files/286628/new-prospect-V3.pdf)
[interested-prospect-V3.pdf](https://github.com/automatedlogistics/Theme2016/files/286630/interested-prospect-V3.pdf)

[2016-05-27 16:19] d4mation commented on #34
@BigActual

Replying here for both this Issue and #32 as their implementations are similar.

I've added some Fields to the Customers and Carrier Pages that allow for just about anything to be placed in them allowing a lot of freedom for this section. The top of the Fields section says "Customers/Carriers Sidebar" but that's only because the Fields are being re-used. They are entirely separate. Thi

[2016-05-27 16:19] #32 closed, assigned to d4mation

[2016-05-27 16:19] #34 closed, assigned to d4mation

[2016-05-28 14:38] BigActual opened #60 "Change profile default phone number to the company 800 number"
(800)551-9399

[2016-05-28 15:10] BigActual opened #61 "Implement best method for handling /terms.htm 404"
Of course I'll ask the client to change their links for their terms from /terms.htm to /terms/ however, this is a mission critical page and I'd like to have a highly effective, zero error ever, redirect in place to handle this issue from day one. Open to alternative suggestions. This is not to ever create a 404.

[2016-05-28 15:16] BigActual commented on #54
I've integrated the new copy creating a hybrid @owielanctot. Please let me know what you think.

[2016-05-28 15:50] BigActual commented on #53
Updated for review. Please advise @owielanctot

[2016-05-28 16:13] BigActual commented on #58
Merged and ready for review @owielanctot

[2016-05-30 12:05] #60 closed, assigned to d4mation

[2016-05-30 12:12] d4mation commented on #46
It looks like it has already been added in:

![image](https://cloud.githubusercontent.com/assets/7770631/15649206/dba0c612-263d-11e6-8718-5db4dca53c40.png)

We could adjust the Header Sizes/Button Sizes of the CTAs, but aside from that I'm not sure what else we could do for that section while preserving the flexibility of that section. Implementing fields specific to a certain CTA would likely bac

[2016-05-30 12:22] d4mation commented on #61
Where are they currently linking to `/terms.htm`?

I can think of a few ways of handling this:
1. I can filter the output of each page to replace any links to `/terms.htm` to `/terms/` automatically. However, if a user manually navigates to `/terms.htm` (Say, it is in someone's e-mail signature) it would still 404.
2. I can throw a simple 301 Redirect into the `.htaccess` file. However, WP Engine

[2016-05-30 16:17] brashrebel commented on #61
Handling redirects is a standard step in our process if we're re-launching a site. It's one of the last things we do but we always account for all _known_ URLs. Often we will request a list of URLs from a client or take it upon ourselves to compile a list of what we must handle which will probably be our action in this case.

As for implementation method, most often we'll handle them within WPE. B

[2016-05-31 12:14] BigActual commented on #46
I'd like each CTA to be visually separate from the one above it. Some way to separate these into separate boxes of content

[2016-05-31 12:21] d4mation commented on #61
I see, that makes sense. Never checked out the Redirect Rules section of WP Engine. That will work just fine.

Looks like here's what we'll need to work with (Unknown pages are marked as question marks):

`/index.htm` -> `/`
`/aboutus.htm` -> `/about-us/`
`/van.htm` -> ???
`/specialized.htm` -> ???
`/international.htm` -> ???
`/quote.htm` -> ???
`/terms.htm` -> `/terms/`
`/careers.htm` -> `/career

[2016-05-31 12:21] BigActual commented on #61
This exists in all email signatures for the company. Thanks for the attention.

[2016-05-31 12:24] BigActual commented on #61
@d4mation This is always helpful for me: https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=site%3Aautomatedlogistics.com

[2016-05-31 12:25] d4mation commented on #61
Ah, looks like their mobile site was in a subdirectory. Going to need to ensure our redirect rules cover those as well.

[2016-05-31 12:33] d4mation commented on #61
I just implemented some 301 Redirects for the above listed URLs (Including their Mobile counterparts).

We'll probably want to figure out what to do for the ones I marked as question marks.

[2016-05-31 12:49] d4mation commented on #46
I see. Something like this then? It will automatically separate each one into a new block.

![image](https://cloud.githubusercontent.com/assets/7770631/15674731/62e63b7e-270c-11e6-84d2-07652a6b4228.png)

![image](https://cloud.githubusercontent.com/assets/7770631/15674750/7473d086-270c-11e6-8563-2210a8b16c49.png)

[2016-05-31 12:50] d4mation commented on #30
Solved with #32 and #34. Tracking other changes currently in #46.

[2016-05-31 12:50] #30 closed, assigned to d4mation

[2016-05-31 12:54] BigActual commented on #61
Van, Specialized, International go to  /Customers/   ...for now. Specific services are in the works.
Quote goes to /connect/

[2016-05-31 12:58] d4mation commented on #61
@BigActual Went ahead and made some redirects to those. For Van, Specialized, and International I made them `302 Redirects` rather than `301` since they are temporary 👍

[2016-05-31 12:59] BigActual commented on #46
Yes

[2016-05-31 13:04] #46 closed, assigned to d4mation, BigActual

[2016-05-31 15:16] d4mation commented on #44
Using some Filters, we should be able to re-purpose the built-in "Posts" Post Type to do this. That way we can slim down Database requests and prevent there being an empty, not used section in the backend. Overall things would be more efficient for the website and the client.

From there, implementation would be exactly the same as we've talked about for this. (Being able to show YouTube video thu

[2016-05-31 18:39] owielanctot opened #62 "Relink the appropriate videos"
Homepage featured item
Careers page
@BigActual

[2016-05-31 19:02] owielanctot opened #63 "Replace testimonials"
See Owie's email
@BigActual

[2016-05-31 19:05] owielanctot opened #64 "Rework History Content"
The Parker brothers are creating the History page
@BigActual

[2016-05-31 19:09] owielanctot opened #65 "Remove unused social media icons on "Connect" page"

[2016-05-31 19:12] owielanctot commented on #65
Remove from footer

[2016-05-31 19:15] owielanctot opened #66 "Remove Jeremy Anderson from staff page"

[2016-05-31 19:19] owielanctot opened #67 "Remove any staff profiles that do not have bio"
Will be added at a later date

[2016-05-31 20:21] brashrebel commented on #65
All the social icons should be controlled in settings and only display if a URL is set. @d4mation can we make that happen?

[2016-05-31 20:26] d4mation commented on #65
That's actually how it works currently. I've got `#` saved for each link to force them to show up as that way I could showcase how they would look when all were available.

They can be changed through the Customizer and it will affect the Footer and Connect Page globally.

![image](https://cloud.githubusercontent.com/assets/7770631/15689308/5f048106-274c-11e6-910c-7bfcc72c0bd8.png)

[2016-05-31 20:38] d4mation commented on #65
Since none were in use, I went ahead and cleared them all out (Including the RSS Button, which is a checkbox in this case).

If any need to be changed/added, you can find it under

[code]

or

[code]

[2016-05-31 20:38] #65 closed, assigned to d4mation

[2016-05-31 20:46] owielanctot opened #68 "Move information to sidebar on Connect page"
On the "Connect" page move the credit application info and Joe Parker's info to the rights side under the map

[2016-05-31 21:36] BigActual opened #69 "Arrows on Careers page work backwards"
http://alsintersite11.wpengine.com/careers/

The arrows point down when the item is closed and right when open. I believe they should point down when open and right when closed.

[2016-05-31 21:43] BigActual commented on #62
All set @owielanctot

[2016-05-31 21:43] #62 closed, assigned to nobody

[2016-05-31 21:44] BigActual commented on #54
Per our conversation today @owielanctot, I'm marking this complete. Let's create new tickets for new ideas on this page.

[2016-05-31 21:44] #54 closed, assigned to BigActual

[2016-05-31 21:50] BigActual commented on #68
@d4mation - Need a recommendation for the best way to handle this. There will be three items on the right side after this change. Each should be recognizable from the other as we discussed in #34 .

[2016-05-31 21:51] BigActual commented on #63
@owielanctot - Any feedback on the additional testimonials? The one you've sent is online.

[2016-06-01 00:43] BigActual commented on #66
Moved to Trash.

[2016-06-01 00:43] #66 closed, assigned to nobody

[2016-06-01 11:56] BigActual commented on #67
@owielanctot - Can you drop a copy of your profile image here please? Your LI profile shot will do for now, if you have an un-cropped version.

[2016-06-01 12:39] d4mation commented on #69
I originally had a reason for having them that way, but now I find myself agreeing with you.

My original idea was that having it start with the arrow facing down while closed was that it made it look similar to dropdown menus and other elements like the Navigation Menu hoping that it would help encourage visitors to click on them.

![image](https://cloud.githubusercontent.com/assets/7770631/15709

[2016-06-01 12:40] #69 closed, assigned to d4mation

[2016-06-01 12:44] d4mation commented on #68
I think handling it the same way as #46 would be best for this. That way there can technically be as many blocks of content in the sidebar as necessary. I'll work on getting that set up.

[2016-06-01 13:08] BigActual opened #70 "Are Staff in the proper sections?"
@owielanctot - Are all staff in the correct sections? Executive Team, Lead Representatives & Staff

Without walking down the path of "Departments", are the current sections appropriately titled? I think so, but have a suspicion that they could be tweaked. Would appreciate your input.

[2016-06-01 13:24] owielanctot commented on #70
Hey @bigactual the more I look at it the more I would like to do departments. Just three:
Executive team: Joe, Paul, Jacob
Operations: Fred, Matt, Andy, Nick, Chris, Colin, Julie
Sales: Bob, Faye, Luis, Owie, Jason, Jeremy, Mary Margaret, Laurie

[2016-06-01 13:39] #68 closed, assigned to d4mation

[2016-06-01 13:39] BigActual commented on #70
@d4mation - Would you please change these section headings?

[2016-06-01 13:39] d4mation commented on #68
![image](https://cloud.githubusercontent.com/assets/7770631/15711336/8dd9a328-27db-11e6-98d9-2c7cacbee4be.png)

[2016-06-01 13:51] d4mation commented on #70
Section Headings have been changed. The Staff will just need to be reassigned to their new Departments.

[2016-06-01 13:55] BigActual commented on #45
This is the print version of the Product/Service Sheet. The template is to be based on this and existing web design. We will assimilate you...
[LTL2.pdf](https://github.com/automatedlogistics/Theme2016/files/293539/LTL2.pdf)

[2016-06-01 14:07] BigActual opened #71 "Restyle Customer Page for Milestone 1.1."
@owielanctot - As new products are introduced, I want to ensure that they fit nicely into a visually stunning and logical/useful layout. The workflow for end users has to seem natural and we don't want a page of ongoing intermingled services.

With that in mind, we need to clearly understand how the "products" are grouped so we can create a simple way to both manage and interact with them. Roughly

[2016-06-01 14:08] BigActual commented on #70
I'll reassign existing staff now.

[2016-06-01 14:37] BigActual commented on #13
Any reason to keep this open?

[2016-06-01 14:38] BigActual commented on #33
Addressed in #68

[2016-06-01 14:38] #33 closed, assigned to BigActual

[2016-06-01 14:38] d4mation commented on #13
Not particularly. I just pulled this from that Google Doc with all the content in it. Figured if needed, it was here for discussion.

[2016-06-01 14:50] BigActual commented on #61
Any reason to keep this open?

[2016-06-01 14:51] #13 closed, assigned to d4mation

[2016-06-01 14:51] d4mation commented on #61
Only reason I could see to keep this open would be for the eventual paths of those temporary 302 Redirects.

Those can be made into a new Issue later though.

[2016-06-01 14:51] #61 closed, assigned to d4mation

[2016-06-01 14:57] BigActual commented on #70
Reassigned. @d4mation is giving us the tools for reorganize the list.
@owielanctot, please reverify that everyone is sectioned out correctly. I question some of my choices for people like Bob.

[2016-06-01 15:31] d4mation commented on #70
Staff are now automatically reorganized based on their Position/Title.

Now they will use the following order:
1. Presidents
2. Vice-Presidents
3. Directors
4. Leads

If there are multiple within a Department (Say, multiple Directors), they will be ordered by Last Name.

[2016-06-01 15:46] owielanctot commented on #70
Just looked. Some people are in the wrong spot. Please organize as follows:

Executive team: Joe, Paul, Jacob
Operations: Fred, Matt, Andy, Nick, Chris, Colin, Julie
Sales: Bob, Faye, Luis, Olivia, Jason, Jeremy, Mary Margaret, Laurie

[2016-06-01 16:23] owielanctot commented on #63
Getting another today that should be good

[2016-06-01 16:27] owielanctot commented on #52
YES- this is fantastic. If we can do this I think we should. What the example doesn't have that we need keep from our current format is contact info for each person

[2016-06-01 16:43] owielanctot commented on #67
![olanctot pic](https://cloud.githubusercontent.com/assets/18618395/15717759/730c8d24-27f6-11e6-8667-5d91dea06838.jpg)

[2016-06-01 16:56] BigActual commented on #52
It is fun isn't it. Kyle has this in the cue for discussion along with several other things that Paul asked for earlier on. Enhancing sites is always the fun part.

[2016-06-01 16:58] BigActual commented on #67
@owielanctot , do you have a wider cropped version? Something showing more of the surroundings?

[2016-06-01 17:08] owielanctot commented on #67
looking now

[2016-06-02 13:25] d4mation commented on #70
I've gone through and reassigned all the Staff accordingly. However, they are not in that exact order due to the sorting rules I outlined above.

Are you wanting them in that exact ordering, or was that just how you came across them while writing out who goes in which department?

[2016-06-02 13:31] owielanctot commented on #70
Looks great! It was in no particular order. In the sales section if we could get the intern listed last that would be great, otherwise I like it! Thank you

[2016-06-02 13:34] d4mation commented on #70
Excellent! I'll look into adjusting the sorting to place Interns at the bottom.

[2016-06-02 14:35] #70 closed, assigned to d4mation, BigActual, owielanctot

[2016-06-02 14:36] d4mation commented on #70
I've got it set now to place any Interns at the end of a Department list! Changes are up on the site now.

[2016-06-03 20:47] owielanctot commented on #71
Products:
Brokerage
Contract Trans
Consol/Deconsol
Engineering
Warehousing

Service:
Van
Reefer
Flatbed
Specialized
Expedites
Ground Expedite
Air Expedite
LTL
Laredo Warehouse
Mexico
Transload – Laredo
Enterprise Management
CIR Account Management
Spot Market
3PL
Plant Move & Project Mgmt

[2016-06-03 20:47] owielanctot commented on #71
I will work on a further breakdown

[2016-06-03 21:09] owielanctot commented on #64
[PMF History.docx](https://github.com/automatedlogistics/Theme2016/files/298400/PMF.History.docx)

Here is the first part for the History section. This is all Parker Motor Freight and needs a lot of reworking

[2016-06-06 13:14] BigActual opened #72 "Add image size tool tip to featured image in Staff Dashboard"
Could you add (170px \* 213px) to the Featured Image text as a que.

[2016-06-06 13:19] #72 closed, assigned to d4mation

[2016-06-06 19:51] owielanctot opened #73 "Terms and Conditions"
We need a tab referencing the terms and conditions on the homepage.  @BigActual  you mentioned putting it in the footer under the "Connect" column. If you still like that, it works for me

[2016-06-06 20:02] BigActual commented on #73
@d4mation , please add a link to the footer, as Owie describes above, in the Connect column.  Thanks.

[2016-06-06 20:02] d4mation commented on #73
Added to the "Connect" area in the footer.

[2016-06-06 20:02] #73 closed, assigned to d4mation

[2016-06-07 13:59] owielanctot commented on #53
[Carriers edit.docx](https://github.com/automatedlogistics/Theme2016/files/302749/Carriers.edit.docx)

Changes are highlighted in the document.

[2016-06-07 18:13] BigActual commented on #53
@d4mation , please remove the copy from the bottom of the content area, "No Carrier Services Found". I suspect you have a snippet in the background looking for services to be listed here. However, services will show up on /customers/ , not here.

[2016-06-07 18:20] d4mation commented on #53
Indeed I did&mdash;I think that was specced out in the old Google Docs Content for the page back when I created the Page Template. I've just removed it, changes are up on the test server now.

[2016-06-07 18:24] #53 closed, assigned to d4mation, BigActual, owielanctot

[2016-06-08 11:56] owielanctot commented on #58
[Customers edit.docx](https://github.com/automatedlogistics/Theme2016/files/304689/Customers.edit.docx)

Eidts for Customers page. Including further breakdown of products/services

[2016-06-08 11:56] owielanctot commented on #71
See document on #58

[2016-06-08 12:41] owielanctot commented on #55
[Careers Edit.docx](https://github.com/automatedlogistics/Theme2016/files/304762/Careers.Edit.docx)

Just two small edits here

[2016-06-08 12:47] d4mation commented on #71
Copying here for my own convenience:

PRODUCTS
- Brokerage
- Contract Trans
- Consol/Deconsol
- Engineering
- Warehousing

SERVICES
- Modes of transport
  - Van
  - Reefer
  - Flatbed
  - Specialized
  - Ground Expedite
  - Air Expedite
  - LTL
  - Spot Market
- International Services
  - Laredo Warehouse
  - Mexico
  - Transload – Laredo
- Continuous Improvement
  - Enterprise Management
  - CIR

[2016-06-08 13:02] owielanctot opened #74 "Editing the About Us page"
What is we took the "Let's get the conversation Rolling" and the contact us today button below it, made it bigger, and put it above the Faurecia on the right?

Or will moving the button deter action from a visitor?

Further edits to content coming shortly

[2016-06-08 14:25] BigActual commented on #55
Yeah, that period outside the " is a European thing I picked up somewhere in my travels. Done.

[2016-06-08 14:25] #55 closed, assigned to BigActual, owielanctot

[2016-06-08 15:31] owielanctot commented on #74
[About Us Edit.docx](https://github.com/automatedlogistics/Theme2016/files/305118/About.Us.Edit.docx)

[2016-06-08 15:43] BigActual commented on #58
Updated

[2016-06-08 15:43] #58 closed, assigned to BigActual, owielanctot

[2016-06-08 15:44] BigActual commented on #67
Complete.

[2016-06-08 15:44] #67 closed, assigned to BigActual, owielanctot

[2016-06-08 15:45] BigActual commented on #63
@owielanctot - Will there be any more of these before launch?

[2016-06-08 15:46] owielanctot commented on #63
@BigActual Yes- definitely by COB today

[2016-06-08 17:23] BigActual commented on #74
Okay, I hated the bouncing around of the copy so I gave it a pretty substantial reorganization. Please provide feedback one more time @owielanctot

[2016-06-08 17:24] BigActual commented on #74
@d4mation, Can we slide a sidebar in here before launch or is this a major overhaul that should wait for 1.1?

[2016-06-08 17:33] d4mation commented on #74
A sidebar should be a quick addition before launch. I'm thinking handling it like the Sidebar on the Customers and Carriers pages will work best for this 👍

[2016-06-08 18:53] d4mation commented on #74
@BigActual @owielanctot Sidebar has been implemented!

[2016-06-08 19:36] owielanctot commented on #74
@BigActual the copy looks good! Having Paul edit to confirm it is accurate info.

Are all of the blue headers the same size? I can't tell.

@d4mation sidebar looks good too!

[2016-06-08 19:41] BigActual commented on #74
@d4mation - Minor layout tweak to the sidebar. Could we have a touch more padding between items please?

[2016-06-08 19:43] d4mation commented on #74
@BigActual, yeah I'll go ahead and add some for this page. I think it looks so squished in this case since the image for the Testimonial below it has a white background.

(The Orange shows the Margin between the elements)
![image](https://cloud.githubusercontent.com/assets/7770631/15908427/aa1bd90c-2d8f-11e6-8b46-8208889563b9.png)

[2016-06-08 19:45] BigActual opened #75 "Add .5em of spacing below customers quote."
Just a touch of space between the client's testimonial and their name please?

[2016-06-08 19:54] owielanctot opened #76 "Edits to ALS Team page"
Move Bob Ostrander from Sales category up to Executive team

Edited picture of Colin McCloskey attached. McCloskey Title: Senior Account Manager

Title for Fred Botello, Jacob Kosiara, Paul McDonald, Ostrander: change the comma to "of"
Matt Eckler title- Senior Director of Business Development
Jeremy Filar title: Inside Sales Executive
Luis Rivas title: International Account Executive

I will be e

[2016-06-08 19:55] owielanctot commented on #64
Still waiting on Joe for this. Reminders have been sent. Will keep you posted

[2016-06-08 19:58] owielanctot commented on #63
IN the Faurecia testimonial on the About us page it says "forecia" in the signature. Please change to Faurecia

[2016-06-08 20:06] #75 closed, assigned to d4mation

[2016-06-08 20:06] d4mation commented on #74
Bumped it up to 2em for the bottom margin on that element. How does it look on your end, @BigActual?

[2016-06-08 20:09] owielanctot commented on #74
In the sentence "We are truly Beyond Driven, providing the best supply chain services in the industry." Insert “3PL” in front of “supply chain”

Second paragraph under We understand our role

[2016-06-08 20:10] owielanctot commented on #74
Add as another bullet under end to end supply chain management:

Strong relationships with motor carriers of every specialty

[2016-06-08 21:40] BigActual opened #77 "Launch Site Monday, June 13th for party on the 14th."
Confirmed with Paul and Owie. The site is to be transferred on Monday with a Splash Screen. Administrators are to have access for testing purposes. All others will see the "It's almost here" screen. That screen is to contain:
- [x] Logo
- [x] Huge Countdown to Noon on Tuesday
- [x] If you can quickly make it snap, crackle and pop fireworks at Noon (Visual effects overlay, sweet. Otherwise, just go

[2016-06-09 02:46] BigActual commented on #74
Done

[2016-06-09 02:46] #74 closed, assigned to d4mation, BigActual, owielanctot

[2016-06-09 02:48] BigActual commented on #63
Done. Additional testimonials can be added at any time.

[2016-06-09 02:48] #63 closed, assigned to BigActual, owielanctot

[2016-06-09 02:57] BigActual commented on #76
Done

[2016-06-09 02:57] #76 closed, assigned to nobody

[2016-06-09 12:15] owielanctot opened #78 "Customers Page Content Tweaks"
Make the statement "Customers can depend on ALS to:" bigger or in blue like a header

[2016-06-09 12:18] owielanctot commented on #77
@BigActual checking with PC solutions to see who your contact will be

[2016-06-09 12:39] owielanctot commented on #77
Clint Wiltse – cwiltse@pcsolutionsnow.com 517-787-9934 @BigActual

[2016-06-09 12:43] d4mation commented on #78
All set!

[2016-06-09 12:59] d4mation commented on #77
To help keep the codebase clean, I'm going to separate this temporary functionality out into a plugin.

[It will be over here at automatedlogistics/Launch-Countdown.](https://github.com/automatedlogistics/Launch-Countdown)

[2016-06-09 13:57] owielanctot opened #79 "Tweak to Careers page"
In my testimonial change "Owie" to "Olivia" thanks! Gotta keep in professional :)

[2016-06-09 16:48] owielanctot commented on #64
[ALS history- from JP.docx](https://github.com/automatedlogistics/Theme2016/files/307463/ALS.history-.from.JP.docx)

We have the history content from Joe! @BigActual

[2016-06-09 17:27] BigActual opened #80 "Modify padding on the left and right of the mobile experience"
![image](https://cloud.githubusercontent.com/assets/8271108/15938943/8f187bec-2e43-11e6-9e2b-fd966bc2a172.png)
Make the white space left of the red line and right of the image and copy equal to the white space between the red line and the image. This will make the images slightly smaller.  I don't want to shrink text size to accomplish this. I'd prefer that the width of the copy shrink instead

[2016-06-09 18:06] #80 closed, assigned to d4mation

[2016-06-09 18:06] d4mation commented on #80
Looks pretty even for me now.

![image](https://cloud.githubusercontent.com/assets/7770631/15940645/f2afcdc0-2e4a-11e6-8b23-256d05123b78.png)

[2016-06-09 20:39] d4mation commented on #77
Can we get this logo (preferably as SVG)?

I pretty much just don't want to have the ghost-logo behind it for this overlay. If I were to try to Photoshop it out, it would look blurry/have choppy edges once it is resized.

![image](https://cloud.githubusercontent.com/assets/7770631/15945455/a118f4ee-2e60-11e6-8c6a-324121a5660d.png)

[2016-06-09 20:59] BigActual commented on #77
Sure. I'm unclear on which pieces you want. Please clarify, do you want me to include just the white, white and yellow, or more?

[2016-06-09 21:00] d4mation commented on #77
All of it can be included, but I specifically want the solid white and the
yellow.
On Jun 9, 2016 4:59 PM, "BigActual" notifications@github.com wrote:

[2016-06-09 21:11] BigActual commented on #77
Not to derail, is there a reason we didn't use a font for that yellow text instead of an image?

[2016-06-09 21:12] d4mation commented on #77
No particular reason outside of that was the image we had and was provided
with the original mockups.
On Jun 9, 2016 5:11 PM, "BigActual" notifications@github.com wrote:

[2016-06-09 21:21] BigActual commented on #77
[LOGO-NO-TAG-WHITE-YELLOW-NAME.zip](https://github.com/automatedlogistics/Theme2016/files/307934/LOGO-NO-TAG-WHITE-YELLOW-NAME.zip)

[2016-06-10 00:04] BigActual opened #81 "Remove border around all images site wide"
http://alsintersite11.wpengine.com/about-us/history/

The borders around images in body copy are out of style. Please remove them.

[2016-06-10 00:07] BigActual commented on #79
Complete.

[2016-06-10 00:07] #79 closed, assigned to nobody

[2016-06-10 12:21] #81 closed, assigned to d4mation

[2016-06-10 12:24] owielanctot opened #82 "Tweak on Carriers page"
Could you please make "Carriers can count on ALS to" look like the other blue headers

[2016-06-10 13:13] owielanctot opened #83 "Contact change on Connect page"
We're going to remove Joe from the contact us page and replace with Paul.

Box on bottom right corner:

Paul McDonald, Vice President of Business Development
Phone: same
Mobile: remove
Fax: 517-782-0125
pmcdonald@automatedlogistics.com

[2016-06-10 13:19] owielanctot commented on #83
On the credit application remove Jo'es email and add accounting@automatedlogistics.com
Fax: same

[2016-06-10 13:20] owielanctot commented on #83
Do change the fax under Paul's name. Keep the same fax number that is there -888-764-6225

[2016-06-10 14:34] BigActual commented on #78
Whoa hold on there tigers... That's a global design change we're talking about. Both on and off line. How about if we step back to increasing the size a bit instead of going blue.

[2016-06-10 14:35] BigActual commented on #82
Owie, this is a global change. Let's look at going with just a larger font size first.

[2016-06-10 14:40] d4mation commented on #78
Reverted to **bold** for the time being.

Within the WYSIWYG editor there isn't really a way to increase Font Size without using a Header (Which per the Style Guide are all Blue).

Outside of implementing a Shortcode to control Font Size I'm not sure what the best way would be to give control over that within the WYSIWYG editor... Switching to the `Text` tab to input straight HTML is possible, but

[2016-06-10 15:23] owielanctot commented on #82
Sounds good.

[2016-06-10 15:30] BigActual commented on #78
I was wrong. I misunderstood the request to be one to change the h2 styling globally, instead of what it was, to change the style of this type from paragraph to h2. My mistake, please accept my apology Eric.

[2016-06-10 15:34] d4mation commented on #78
It's no problem! I was trying to ensure that I was understanding what you were saying as well. A global design change would certainly be undesirable.

Shall I go ahead and change this back to using a Heading rather than bold text?

[2016-06-10 15:39] BigActual commented on #82
OK, I made a mistake on #78 that I carried here @owielanctot. I apologize. This has been taken care of. However, I don't like this change. I believe everything from that statement down was really written to support the H2 above it. Not to be a separate H2. Here's an article I wrote on the topic a few months ago: http://realbigmarketing.com/2015/12/how-to-use-header-tags-in-a-blog-post-h1-through-h

[2016-06-10 15:41] BigActual commented on #78
Nope I've done it. Thanks for understanding.

[2016-06-10 15:41] #78 closed, assigned to d4mation

[2016-06-10 15:43] BigActual commented on #83
@d4mation I'm trying to wrap a few things before leaving. Would you mind addressing this please?

[2016-06-10 15:51] d4mation commented on #83
This should be good to go. Just confirming that I've got things as they should be before I close this:

## Credit Application

Credit Application

If you’re interested in filling out our credit application, please use this form and send it to us by email, fax or mail.
Email: accounting@automatedlogistics.com
Fax: 1-888-764-6225
Mail: Automated Logistics Systems, 3517 Scheele Drive, Jackson, MI 492

[2016-06-10 18:08] owielanctot opened #84 "Grammar edits on Staff page"
- [x] Joe Parker: Remove comma after "Has favorite part of running ALS"
- [x] Paul" In first line of second paragraph change understand to understands
- [x] Colin: fiancée spelled two different ways. Spell both like fiancée
- [x] Luis: Change south to Southern. This is before U.S. States.
- [x] Faye: In first sentence remove "has." In the second paragraph remove the "and" between enthusiast and ha

[2016-06-10 18:47] owielanctot commented on #83
Use the other fax for Paul's contact. 1-888-764-6225

I didn't mean to add the other one before.

Other than that, looks good to go!

[2016-06-10 18:55] owielanctot opened #85 "Edits to About Us Page"
Under "End to End Supply chain management" delete everything and put:

In 1992 our customers pushed us to become a 3PL. Since then we’ve pushed our clients forward offering wider, more flexible and customized, end-to-end supply chain management solutions. We’ve enhanced our ability to offer low-risk, high-value solutions including:

• Services that support all nodes and flows in a customer’s suppl

[2016-06-10 18:56] owielanctot commented on #85
Also, Under "We Unserstand our role:

Add as the last bullet after "Support our customer requirements...":
Strong relationships with motor carriers of every specialty

[2016-06-10 18:59] owielanctot opened #86 "Edit to Customers page"
UNder "Inernational Services"
Add astrisk and change laredo warehouse to look like:

Laredo Warehouse *ALS owned and operated

[2016-06-10 19:05] d4mation commented on #83
All set!

[2016-06-10 19:05] #83 closed, assigned to d4mation

[2016-06-10 19:58] d4mation commented on #86
All set!

[2016-06-10 19:58] #86 closed, assigned to d4mation

[2016-06-10 20:10] d4mation commented on #84
I'll look into seeing what I can do to make "Read More" show for each of them on that page.

For Colin's Picture, my guess is that this is a caching issue on your phone. My laptop was showing the darker one just now until I cleared out my cache.

On an Android device,
1. Open Chrome and hit the three dots in the upper right hand corner
2. Open History and hit "Clear Browsing Data" and ensure "Cach

[2016-06-10 20:14] owielanctot opened #87 "Covenant Video"
On the screen that has the covenant video- the "Find out how" button on the home page takes you here.

We need to add the text of the covenant in case someone doesn't have their sound on. You can place it on there stylistically however you think is best.

Our Covenant
ALS succeeds because we're committed to building strong customer relationships right from the start. Our passion is demonstrated by

[2016-06-10 20:14] owielanctot commented on #87
Also- on this screen can we make a yellow call to action bar that is something like "Connect" and it takes you right to the connect page.

[2016-06-10 20:20] d4mation commented on #84
It now shows "Read More..." for every entry on the Staff page, regardless of length.

Let me know if you're able to see the correct image for Colin after clearing out your caches when you get the chance!

[2016-06-10 20:25] owielanctot commented on #84
I see the Read mores and the picture is the right one! Thanks for the help on that

[2016-06-10 20:26] d4mation commented on #84
No problem!

[2016-06-10 20:26] #84 closed, assigned to d4mation

[2016-06-11 17:06] d4mation commented on #77
Things are looking pretty great in my local environment.

Since this covers the screen at all times, we're limited to the screen height in pixels to work with which is why the contact information and contact form are in separate columns&mdash;as you scroll, this whole section moves with you.

This is all done via WordPress Widgets, so things can be easily changed or moved around at any time.

Once

[2016-06-13 13:55] d4mation commented on #85
All set!

[2016-06-13 13:55] #85 closed, assigned to d4mation

[2016-06-13 17:34] d4mation opened #88 "Home Page Covenant Video Overlay Enhancements (Mobile)"
In #87 we weren't able to fit some content on Mobile for the Covenant Video Overlay. We'll want to keep feature/content parity between the different site experiences, so we will want to find another way to organize or cut down on this content.

[2016-06-13 17:37] d4mation commented on #87
I've added this to the Covenant Video Overlay but for Desktop only. This area has a limited amount of space that we are able to utilize so for Mobile it would not have been able to fit.

This section scrolls with you as you scroll down the page, so it is limited by the vertical height of the screen of whatever device you're viewing the website on.

Here's what this section looked like before on Mo

[2016-06-13 17:37] #87 closed, assigned to d4mation

[2016-06-13 19:42] owielanctot commented on #87
I like the desktop look! I'm open to suggestions as far as mobile/desktop parity

[2016-06-13 19:44] d4mation commented on #77
Countdown is up on the site. Set to end tomorrow (6/14/16) at 12 PM EST.

[2016-06-13 19:46] owielanctot opened #89 "Credit Applicaiton"
Here is the credit application that will go on the Connect page, in the credit app area
[Credit Application.pdf](https://github.com/automatedlogistics/Theme2016/files/312590/Credit.Application.pdf)

[2016-06-13 23:35] BigActual commented on #77
Please change the timer to 12:10. Their president wants to say a few words beforehand.

[2016-06-14 01:33] d4mation commented on #77
Adjusted to 12:10 PM EST.

[2016-06-14 01:33] #77 closed, assigned to brashrebel, d4mation

[2016-06-15 15:59] BigActual commented on #89
Complete.

[2016-06-15 15:59] #89 closed, assigned to nobody

[2016-06-15 16:01] BigActual commented on #82
Completed 06/13, but left open for comment. Closing in conjunction with V 1.0.

[2016-06-15 16:01] #82 closed, assigned to nobody

[2016-06-15 16:01] BigActual commented on #64
Reworked 06/13. Left open for comment. Closing with V 1.0

[2016-06-15 16:01] #64 closed, assigned to BigActual, owielanctot

[2016-07-06 20:00] d4mation commented on #71
Progress can be seen on the Develop Branch within this Repository as well as [here](http://alsintersite11.staging.wpengine.com/customers/) on the Staging Site.

The Archive Grid is still very much a work-in-progress. The Products Single is looking pretty good, however.

So far only [LTL](http://alsintersite11.staging.wpengine.com/product-service/less-than-truckload-ltl/) is built out as I had the

[2016-07-06 21:03] owielanctot commented on #71
@d4mation Love the mock-up! So good to see it take shape. Am I correct that @brashrebel will work on these icons/images when he returns?

On the LTL page we will be adding a customer/3rd party story, and a video. Considering this, do we need to restyle what you have done to the page? This format of product info, testimonial, video, will hold true to all products, but content will come in on a roll

[2016-07-07 16:14] d4mation commented on #71
I have set the Product/Services Pages up so that each of those text sections is its own Editor and just about anything can be placed in there&mdash;including Videos. As many sections as necessary can be added in there, so there's just about no limits!

![image](https://cloud.githubusercontent.com/assets/7770631/16660389/0f691078-443c-11e6-83f5-464cbe4162c8.png)

I'm not sure about the icons/images

[2016-07-08 14:53] BigActual commented on #71
Could you please adjust the way these display so that each row is vertically aligned at the top. Products with a two line description start higher. Let's stop that from occurring.

[2016-07-08 14:58] d4mation commented on #71
They are all vertically aligned at the top now 👍

[2016-07-09 16:17] BigActual opened #90 "Add video to hero image on home page"
@d4mation would you please place this video immediately to the left of the call to action, within the hero image, on the home page.

I thought i could do it myself, but i can not.

https://youtu.be/jx2gYwnYljw

Thanks

[2016-07-11 12:43] #90 closed, assigned to d4mation

[2016-07-11 12:45] d4mation commented on #90
I've gone ahead and added a field for this to the Homepage. A Video can now be easily added to the left-hand side next to the Call To Action 👍

![image](https://cloud.githubusercontent.com/assets/7770631/16730992/d6fd1e72-4743-11e6-9b7f-e49a9d597652.png)

[2016-07-11 18:57] owielanctot opened #91 "Our Services Page"
The "Our Services" link in the footer currently goes to a page that just says services and lists LTL. I thought Customers is where the services were housed and that is where the additional info will go?

[2016-07-11 19:23] d4mation commented on #91
I'm not sure how that happened. Fixed!

[2016-07-11 19:23] #91 closed, assigned to nobody

[2016-07-13 13:32] brashrebel opened #92 "Order product category sections by number of entries"
Currently it looks like the categories [here](http://alsintersite11.staging.wpengine.com/customers/) are sorted alphabetically. Let's arrange them based on number of entries. This means Modes of Transport would be first followed by International Services and so on.

[2016-07-13 13:33] brashrebel opened #93 "Add customer testimonials section on single products"
Should be another red dot on the line below The ALS Difference.

[2016-07-13 13:34] brashrebel opened #94 "Add section for video on product single"
Should be embedded in the left sidebar below the expert section but popout to a larger view when clicked on I think.

[2016-07-13 19:49] brashrebel opened #95 "Add news page"
- [x] Link in main menu under About Us
- [x] Link in footer under About Us section
- [x] New section on home page. This will be a fourth item on the red line below Connect with us.

@owielanctot can you please comment here with the title, text, button text and image that you would like used in this new section on the home page? Thanks!

[2016-07-13 20:29] owielanctot commented on #95
Title: News
Text: We want to keep our customers informed. Find out more Automated Logistics Systems, industry trends and issues, and supply chain information
Button text: Read On
Image: We don't have any original photos that work here. Do you have anything on your end? Or some transportation images in general? Maybe a close up of some big, impressive tires? I'm ok with anything!

[2016-07-14 02:09] brashrebel commented on #95
I don't have any images. We can buy some stock photo (or you can) or we can pull something from one of the photo shoots. I don't have access to those (that I know of). Also the image should ideally relate to "News about ALS" so I envision something that includes ALS people or at least some branded imagery.

[2016-07-15 13:14] owielanctot commented on #95
@brashrebel Laurie and I are on the hunt for a suitable photo. Can we get the rest of the provided info up on the News page? Do we need anything for the landing page where all the articles will be housed?

[2016-07-15 13:20] brashrebel commented on #95
We don't need anything for the News page. We'll take care of that. This requested information isn't for the _News_ page. It is for the _Home_ page in the section that links to the News page. So putting it up on the home page with something missing like the image might look worse than having nothing there. Make sense?

[2016-07-15 13:21] owielanctot opened #96 "Linking to Product Pages"
@brashrebel While we are waiting on the phase 2 design for the Customers page, can we use the current layout to link to product information? Specifically, we have the LTL page pretty much ready to go, besides adding the video and testimonial. Could we hyperlink the words 'Less than Truckload LTL" on the current customers page?

[2016-07-15 13:23] d4mation commented on #95
Over in #44 we talked about having the image that loads being related to the most Recent Article rather than being static.

However, having a static image would be helpful for instances where an image isn't attached to a News Post.

Or are these two sections meant to be different?

[2016-07-15 13:26] owielanctot commented on #95
Yes, totally makes sense. Can we get the set up for the Home page on the staging site? We can use any photo as a place holder. I hope to have the actual photo later today. We have two blog posts up and ready and I'd like to go live with it soon.  Thank you!

@d4mation I like the idea of a rotating photo, but will that look ok if they aren't Photoshopped/ the same quality as the other images on the

[2016-07-15 13:27] d4mation commented on #95
That's what I was thinking too. Getting consistent sizing and quality for something rotating like that would be very difficult.

I just thought I'd bring it up in case these two Issues were related.

[2016-07-15 13:46] brashrebel commented on #95
I'd lean against rotating the image. The text and title will remain the same and the image will be out of context. We need a static image that conveys "News about ALS".

And I'm still waiting on Paul for approval. I'll follow up with him soon.

[2016-07-18 20:00] owielanctot commented on #95
[Web Pics 2.zip](https://github.com/automatedlogistics/Theme2016/files/370015/Web.Pics.2.zip)

Here ii the picture we would like to use for the News link on the home page

[2016-07-18 20:01] owielanctot commented on #96
Any word on this?

[2016-07-18 22:29] brashrebel commented on #96
Since we don't have the _template_ ready yet for the products I don't think we can make this change _quite_ yet. However, we're working on this very soon so it shouldn't remain an issue long.

[2016-07-19 12:31] owielanctot commented on #96
Sounds good. What's the potential timeline for the template? Possibly this week?

[2016-07-19 15:34] brashrebel commented on #96
Definitely this week. It is actually in progress.

[2016-07-19 15:55] owielanctot commented on #96
Awesome! Thank you

[2016-07-19 16:47] #92 closed, assigned to nobody

[2016-07-19 19:50] #94 closed, assigned to nobody

[2016-07-19 19:55] d4mation commented on #94
http://alsintersite11.staging.wpengine.com/product-service/less-than-truckload-ltl/

On clicking the video it loads it up in a Modal instead.

[2016-07-20 12:59] brashrebel opened #97 "Prevent YouTube videos from showing suggestions when they end"
I can't remember how this is done exactly but I know it can be. I think we did it on KN.

[2016-07-20 14:51] #97 closed, assigned to d4mation

[2016-07-20 15:24] d4mation commented on #88
Now that the Covenant Text has been moved outside of this overlay, this is no longer a problem.

[2016-07-20 15:24] #88 closed, assigned to nobody

[2016-07-20 18:25] #45 closed, assigned to brashrebel, d4mation, owielanctot

[2016-07-20 18:26] #44 closed, assigned to d4mation

[2016-07-20 18:26] #71 closed, assigned to d4mation, BigActual

[2016-07-20 18:26] #95 closed, assigned to d4mation

[2016-07-20 18:26] #96 closed, assigned to d4mation

[2016-07-27 20:23] owielanctot commented on #93
@brashrebel Hey Kyle- I think this issue was added after a conversation you and I had. I may have misspoken and said customer testimonial, not to be confused with the actual customer testimonials that are on the right hand side of some pages, and meant to say 3rd party stories. Stylistically, you can tell me where this would be best suited for the page. It will probably be about 2 paragraphs long

[2016-07-27 20:39] brashrebel commented on #93
@owielanctot can you share an example with us?

[2016-07-27 20:55] owielanctot commented on #93
I do not yet. But it will more than likely be similar to the Faurecia testimonial on the "History" page. Just longer.

How would it look if we put it below the horizontal red line? on the LTL page? I'm open to suggestions

[2016-07-27 21:08] owielanctot opened #98 "Add employees to Product expert dropdown on products page"
Need to add Will Ferris

[2016-07-28 12:09] BigActual commented on #93
Are these Case Studies? If so, should they eventually be tied to products and services in a programmatic sense? For example, have the title and an excerpt for the case study show up on the sidebar area of the product or service it relates to?

[2016-07-28 16:27] brashrebel commented on #93
Yeah @owielanctot I don't think spending time on this will be very productive until we have the content for the first one completed. We need to understand the content in order to find the right place, design and layout for it.

[2016-07-28 17:41] owielanctot commented on #98
His email is wferris@automatedlogistics.com and his photo is below

![will ferris](https://cloud.githubusercontent.com/assets/18618395/17223064/f6127b3a-54c8-11e6-8cfa-74db5b4616d8.jpg)

[2016-07-28 17:49] d4mation commented on #98
The Dropdown actually shows any _Published_ Staff Members, so once his Staff Profile is published, he will automatically get added to that menu 👍

[2016-08-11 15:50] owielanctot commented on #98
Most likley he will not be featured on the staff members page. If we create a staff page for him, but don't publish it, will we be able to use him on the products page? @d4mation

[2016-08-11 15:52] owielanctot opened #99 "Contact box for Carriers Page"
Can we create a box on the right side of the carriers page that looks like the credit application box on the connect page?

[2016-08-11 15:55] d4mation commented on #98
Currently, no. That dropdown will only grab Published Staff. One big reason for this is because the Products Pages link back to the Staff Member listed as the "Expert".

For example, on the [LTL](http://automatedlogistics.com/product-service/less-than-truckload-ltl/) Page, if you click on Chris Strecker's photo or his name, it links back to his Staff Page.

[2016-08-11 18:56] brashrebel commented on #99
Yes, I think we can incorporate that in the next phase of enhancements.

[2016-08-16 21:51] BigActual opened #100 "Client Request for Akismet API Key"
Owie, I would like to turn on Akismet, a piece of software that limits comment spam. It's become a standard tool for most WordPress sites because it's very effective at keeping spammers from comment spamming a website. There is nothing like that built into core, it's definitely an add-on.

It requires an API key and there is a monthly charge, **technically**, for commercial accounts. You'll see wh

[2016-08-17 12:32] brashrebel commented on #100
This isn't a private repository so I'd recommend sharing the key privately. But thanks @BigActual for making this happen.

[2016-08-22 20:03] BigActual opened #101 "Updated forms"
The forms on the site really need to be updated. For example, we discussed Joe's signature on the contract and other items needing to be updated with the new styling. If those items could be loaded here, I'll make sure they are placed on to the site.
- [x] Carrier App
- [ ] Credit App

Have I missed any? I don't think so.

[2016-08-22 20:04] BigActual commented on #101
We are presenting these items for a complete overhaul in the next phase. Regardless, the old versions really need to be updated in the meantime.

[2016-09-22 15:26] lsextonALS opened #102 "Carrier packet for website"
The carrier packet on the web needs to be updated to this new version. @brashrebel @BigActual
[ALS_CarrierPacket.pdf](https://github.com/automatedlogistics/Theme2016/files/487659/ALS_CarrierPacket.pdf)

[2016-09-22 17:24] d4mation commented on #102
Referencing #101

[2016-09-22 17:32] #102 closed, assigned to d4mation

[2016-09-26 17:31] lsextonALS opened #103 "Customer Page Graphics"
We are ready to add the new graphics for the customer page.  What is the process for this? @brashrebel @BigActual

[2016-09-26 17:38] BigActual commented on #103
Hi Laurie,
Have you created a profile on github.com? If so, let's get you connected
with the team and you can submit "Issues" there which will not be lost.

Thanks,
Steve

On Mon, Sep 26, 2016 at 1:31 PM, lsextonALS <notifications@github.com>
wrote:

--
Thanks,

Steven R. Bennett, Partner
Real Big Marketing, LLC.
(517)358-6794

--------------------------------------------

THIS MESSAGE IS CONFIDEN

[2016-09-26 17:40] lsextonALS commented on #103
Hi Steve,

I do have a profile, my username is lsextonALS.

From: BigActual [mailto:notifications@github.com]
Sent: Monday, September 26, 2016 1:39 PM
To: automatedlogistics/Theme2016 <Theme2016@noreply.github.com>
Cc: Laurie Sexton <lsexton@automatedlogistics.com>; Author <author@noreply.github.com>
Subject: Re: [automatedlogistics/Theme2016] Customer Page Graphics (#103)

Hi Laurie,
Have you cre

[2016-09-26 17:45] BigActual commented on #103
Great, I was receiving these messages in email, hence the confusing reply. So, when you create an issue here, Name it appropriately, so that it makes sense for the programmer. expand on the title in the first description area. and then upload the graphics into the issue. Drag and drop works great. The programmer will ask you any relevant questions within the issue and closes the issue when complet

[2016-09-26 17:46] BigActual commented on #103
Assign it to me so that I see it. I'll label it, add any other details and bring in the programmer.

[2016-09-26 17:54] lsextonALS commented on #103
What format do you need the graphics in?

[2016-09-26 17:55] BigActual commented on #103
Are they raster or vector?

On Mon, Sep 26, 2016 at 1:54 PM, lsextonALS notifications@github.com
wrote:

##

Thanks,

Steven R. Bennett, Partner
Real Big Marketing, LLC.
(517)358-6794

---

THIS MESSAGE IS CONFIDENTIAL. This e-mail message and any attachments are
proprietary and confidential information intended only for the use of the
recipient(s) named above. If you are not the intended recipien

[2016-09-26 17:56] BigActual commented on #103
...svg is great for vector and jpg for raster. If the programmer would prefer something else they'll ask here.

[2016-09-26 18:20] brashrebel commented on #103
We need SVG.

[2016-09-27 13:44] lsextonALS commented on #103
[Final_Web.zip](https://github.com/automatedlogistics/Theme2016/files/495638/Final_Web.zip)

[2016-09-27 22:51] d4mation commented on #103
I had to edit the SVGs to get them how we needed them, but they are on the Live site and looking good!

SVGs can be added to each Product/Service via the `Product/Services Grid Icon/Image` Field. I've gone ahead and added them to each Product/Service, but if they ever need to be edited this is where they are set:

![image](https://cloud.githubusercontent.com/assets/7770631/18894750/be70bef4-84e2-1

[2016-09-27 22:51] #103 closed, assigned to d4mation

[2016-10-21 15:22] lsextonALS opened #104 "Online Application"
We would like to add this application to our careers page to be downloaded by applicants.

This should go under the line "...take a look at the opportunities available here and follow the instructions to apply" with the following text:
To apply for a position that is not listed below, please complete our online application. Once you hit submit, your application will be forwarded to our hiring team

[2016-10-24 12:57] d4mation commented on #104
[All set!](http://automatedlogistics.com/careers/)

You appear to have permissions to edit this page yourself. If you ever need to upload a file like this in the future just click the "Add Media" button above the Content Editor 👍

[2016-10-24 12:57] #104 closed, assigned to nobody

[2017-01-27 20:18] lsextonALS opened #105 "Red line on product page"
Can the vertical red line on the product pages end in a red dot instead of extending to the right? @d4mation @brashrebel

![image](https://cloud.githubusercontent.com/assets/22197968/22386165/d5904f66-e4a3-11e6-905d-92330954968d.png)

[2017-04-19 18:56] lsextonALS opened #106 "Image for product tile"
This image needs to replace the current image for the Specialized tile on the customers page.  When I tried to upload the svg file to wordpress, it said that file type is not permitted for security reasons. @brashrebel @d4mation
[DD90x90.zip](https://github.com/automatedlogistics/Theme2016/files/937417/DD90x90.zip)

[2017-04-19 19:34] d4mation commented on #106
@lsextonALS I've tried to open your SVG in InkScape and it doesn't show for me at all, but looking at the document properties I can tell it isn't configured correctly.

From the Edit Screen for Products/Services:

When I open the file in InkScape (Or open the SVG in a text editor) I can see that the Height and Width of the SVG itself are not set to be a perfect square:

![image](https://cloud.gith

[2017-04-19 19:40] lsextonALS commented on #106
The artboard was set to 90pxx90px, however I'm no svg expert, so maybe I exported it incorrectly?
![capture](https://cloud.githubusercontent.com/assets/22197968/25198697/5dbcbd4a-2516-11e7-9fc0-601f3ae5bb24.PNG)

[2017-04-19 20:20] d4mation commented on #106
You need to set those options when you create the Document, like so:

![image](https://cloud.githubusercontent.com/assets/7770631/25200302/d982ed8c-251b-11e7-9fdd-bceebbffb54b.png)

Here's the corrected file. I believe I've fixed the SVG upload issue.

[DD90x90-edit.svg.zip](https://github.com/automatedlogistics/Theme2016/files/938149/DD90x90-edit.svg.zip)

[2017-04-19 20:21] d4mation commented on #106
Also, `File -> Save As` and choosing SVG from the Format dropdown worked fine for me. After I did that with your file, I was able to open it in InkScape.

[2017-04-20 00:08] #106 closed, assigned to nobody

[2017-09-21 14:10] lsextonALS opened #107 "Adding a plugin"
[Lead Forensics Plugin.pdf](https://github.com/automatedlogistics/Theme2016/files/1321490/Lead.Forensics.Plugin.pdf)
Can this plugin be added to our website? @brashrebel @d4mation

[2017-09-21 14:18] d4mation commented on #107
Should be all set. Installed and put the tracking code from the PDF into the correct location.

[2017-09-21 14:18] #107 closed, assigned to nobody

[2018-02-21 22:53] BigActual opened #108 "Create Survey Forms for Customer Satisfaction"
Create two submission forms and apply them to pages on automatedlogistics.com.

One for positive responses and one for negative responses. Use a URL format that can be added to email messages as a hyperlink.

This is the text from the client:

Here are the questions, so all text fields.

[code]

[2018-02-22 20:36] lsextonALS opened #109 "Homepage timeline"
@d4mation We would like to add a block above the covenant on the homepage with videos for each.  Currently I can't add a video/hyperlink images on any blocks after the first item on the timeline.  Is this possible to do?

![image](https://user-images.githubusercontent.com/22197968/36562780-015a2e66-17e6-11e8-949a-8b367aa8c9ea.png)

[2018-02-27 14:57] d4mation commented on #108
@lsextonALS If Email Address is an Optional Field, then the "Reply-To:" header of the Email cannot be populated. That means that you cannot just hit the "Reply" button when it hits an Email Inbox to reply to the person who filled out the form.

If they fill out the Email Address I can have the Email Address added into the Message Body, but without the Email Address Field being Required I cannot ma

[2018-02-27 15:20] d4mation commented on #108
Also, are there any additional user accounts that should be created that will have access to viewing the "In-Dashboard" Inbox?

![image](https://user-images.githubusercontent.com/7770631/36736947-d77f9070-1ba7-11e8-86d7-47d4c734b8d5.png)

[2018-02-27 17:01] lsextonALS commented on #108
The reason for having the email address field be optional was in case anyone wanted to give feedback anonymously.  If that field remains optional but a statement like "if you would like us to get back with you, please include your email address" is included would that work, or are you saying that would create issues with all feedback responses?

In terms of having access to the inbox, we would lik

[2018-02-27 17:07] d4mation commented on #108
Yes, that would create issues with all feedback responses. Either it is a required field and the "Reply-To" functionality works, or it isn't a required field and if you were to reply to the Email, you would need to update the Email Address that you're replying to manually by copying the Email Address from the Message Body.

I would need all of their Email Addresses, please. I will create them acco

[2018-02-27 19:04] lsextonALS commented on #108
I spoke with the team and they are good with having to manually copy the email address for the sake of letting customers give feedback anonymously, so that can stay an optional field.

Below are the email addresses but before you create accounts for them, does that mean all four will receive the feedback messages?  Only Erica should receive these messages, but we'd like for the other three to have

[2018-02-27 19:36] d4mation commented on #108
Only Erica will actually receive the messages, but everyone else will be able to view a copy of the filled out Customer Satisfaction Surveys by logging in and clicking the "Inbox" link in the Admin Menu.

I'll get those accounts created :+1:

[2018-02-28 15:43] lsextonALS opened #110 "Page doesn't show on web"
@d4mation I published this page with the Customer page as the parent, however it's not showing up on the website.
http://automatedlogistics.com/customers/als-3pl-solutions/

[2018-02-28 15:53] d4mation commented on #110
That link works for me. Are you expecting it to show in a menu? The menus are not automatically generated.

[2018-02-28 15:55] lsextonALS commented on #110
Yes, I'd like it to show as a drop down under Customers, like the About Us tab.

[2018-03-01 16:55] lsextonALS commented on #108
Just a few changes:
On the positive page, can a text field be added at the top with "What did we do well today?"
On the negative page, "Please share why you are dissatisfied" doesn't have a field to type in.  Also, can a check box be added to "Would you like immediate follow up..." The reason for this is so that customers don't think they can only leave their contact info if they want follow up.

[2018-03-05 23:21] BigActual commented on #108
- [x] On the positive page, can a text field be added at the top with "What did we do well today?"

- [x] On the negative page, "Please share why you are dissatisfied" doesn't have a field to type in.

- [x] Also, can a check box be added to "Would you like immediate follow up..." The reason for this is so that customers don't think they can only leave their contact info if they want follow up.

[2018-03-05 23:23] BigActual commented on #108
@lsextonALS Please verify that I've completed the changes correctly?
- http://automatedlogistics.com/customer-satisfaction-survey-positive/
- http://automatedlogistics.com/customer-satisfaction-survey-negative/

Thanks,
Steve

[2018-03-20 19:54] lsextonALS commented on #110
In addition to having this showing as a drop down option, would it also be possible to for the 3pl icon on the customers page to link to this page (so the new page would completely replace the current 3pl page)?

[2018-03-20 20:03] lsextonALS opened #111 "Order of blog entries"
Currently blog entries are posted from oldest to newest (although there are some exceptions, so I don't know if it has anything to do with how the post is categorized).  Can these be listed with newest post at the top of the page?

[2018-04-05 21:05] d4mation commented on #111
Should be fixed now :+1:

[2018-04-05 21:05] #111 closed, assigned to nobody

[2018-04-05 21:12] d4mation commented on #110
All set :+1:

[2018-04-05 21:12] #110 closed, assigned to nobody

[2018-04-05 21:16] d4mation commented on #109
When editing the Home Page, if you click the little "+" that shows on the right-hand side you can insert Timeline Elements inbetween two other ones.

![image](https://i.imgur.com/qMsrfpT.gif)

[2018-04-11 15:51] #108 closed, assigned to d4mation

[2022-02-09 14:51] #52 closed, assigned to brashrebel, BigActual

[2022-02-09 14:51] #93 closed, assigned to nobody

[2022-02-09 14:51] #98 closed, assigned to nobody

[2022-02-09 14:51] #99 closed, assigned to nobody

[2022-02-09 14:51] #100 closed, assigned to owielanctot

[2022-02-09 14:51] #101 closed, assigned to nobody

[2022-02-09 14:51] #105 closed, assigned to nobody

[2022-02-09 14:51] #109 closed, assigned to nobody

[2022-02-09 15:00] BigActual opened #112 "Modify programming for last block on /careers/ to allow an iframe"
The careers page is receiving an edit. The entries in the CPT Job Openings will all be marked private, removing them from the information printed on the screen. The new iframe for searching available positions can then be placed into the bottom section, Page Additional Fields," which currently holds the employment disclaimer.

Please adjust the code for the Page Additional Fields section to accept

[2022-02-09 18:03] #112 closed, assigned to d4mation

[2022-02-09 18:06] d4mation commented on #112
The field itself supported it, but Editors don't have the ability to use `<iframe>` or `<script>` tags for security reasons.

I've adjusted it so that Editors are able to use those tags now.

Given the security implications, it should be stressed that all Editors should be using strong passwords.

As an extra note, in order to paste in that code you will need to click the "Source Code" button give

[2022-02-09 18:12] BigActual commented on #112
Understood